body {
    background-color: #CCDDDD;
}

h1 {
   font-size: large;
   padding: 0px;
   margin: 30px 0px 10px 5px;
   text-align: center
}

h2 {
   font-size: medium;
   padding: 0px;
   margin: 20px 0px 5px 5px;
   text-align: center
}

h3 {
   font-size: medium;
   padding: 0px;
   margin: 10px 0px 5px 5px;
   text-align: left;
}

p {
    margin:5px 0px 15px 0px;
}

/* Links -- plain & hover */


/* Hover -- when the pointer is placed over a link, change its
 * appearance.  This may be the single most useful link attribute to
 * specify as it doesn't interfere with page legibility, but does
 * clearly denote links.
 */


A:link { 
    font-weight: bold !important;
    text-decoration: underline !important; 
}

A:link:hover, A:visited:hover {
    color: #00008b !important;
    /* Yellowish background */
    background-color: rgb(255,255,144) !important;
    text-decoration: underline !important; 
}

/* Active (selected) link.  As "hover" above. */
A:link:active, A:visited:active { 
    color: red !important; 
    background-color: rgb(255,255,16) !important;
    text-decoration: underline !important; 
}


/* Content elements */

.topbar {
    margin:10px 10px 30px 10px;
    background:#bbbbFF;
    width: 90%;
    text-align: center;
    border: 1px solid #000;
  }

  #juicebox {
    background:#eeffee;  /* Greenish */
    clear: both;
    padding:4px 4px 4px 4px;
    border:1px solid #000;
    text-align: center;
    }

  #navbox {
    margin:20px 16px 10px 8px;
    float:left;
    }

.nav {
    margin:20px 16px 40px 0px;
    width: 220px;
    background: #bcacff;
    padding:4px 4px 4px 4px;
    border:1px solid #000;
    }

.hotbox {
    margin:20px 16px 40px 0px;
    width: 220px;
    background: #FFFFcc;
    padding:4px 4px 4px 4px;
    border:1px solid #000;
    }

  #searchbox {
    float:right;
    }

  #search {
    margin:8px 8px 8px 8px;
    padding:4px 4px 4px 4px;
    text-align:right;
    background:#cff;
    border:1px solid #000;
    }

  #topcontent {
    margin: 15px 2% 45px 8px;
    border: 4px solid #000;
    background: #e0e0FF;
    padding: 8px 8px 8px 18px;
    }

  #content {
    margin: 25px 2% 52px 130px;
    border: 1px solid #000;
    background: #ffffff;
    padding: 8px 8px 8px 18px;
    }
