/*
 * License: SIL Open Font License, 1.1
 */

@font-face {
  font-family: 'Cantarell';
  src: local('Cantarell'), local('Cantarell Regular'),
  url(fonts/Cantarell-Regular.otf);
}

@font-face {
  font-family: 'Cantarell';
  font-weight: bold;
  src: local('Cantarell'), local('Cantarell Bold'), local('Cantarell-Bold'),
  url(fonts/Cantarell-Bold.otf);
}

@font-face {
  font-family: 'MgOpen Cosmetica';
  font-weight: bold;
  src: local('MgOpen Cosmetica'), local('MgOpen Cosmetica Regular'),
  url(fonts/MgOpenCosmeticaRegular.ttf);
}
