
/* "read more" section, bottom of the page, with 2 columns */

.further_reading {
    font-size: 0.95em;
    margin-top: 4.5em;
    padding: 0.5em;
    background: none repeat scroll 0 0 #EAE8E3;
    border: 1px solid #BABDB6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.further_reading a {
		background: none;
	}

.further_reading h2 {
		font-weight: normal;
		color: #630000;
		margin-top: 0.2em;
		margin-bottom: 1em;
		font-size: 1.3em;
	 }

.further_reading h3 {
		display: block;
		margin: 0.5em 0;
	 }

.further_reading p {
		margin-top: 0.2em;
	}

#left_column {
		width: 47%;
		float: left;
		border-right: 1px #ccc solid;
		padding-right: 1em;
		margin-right: 1em;
	}

#right_column {
		padding: 0 1em;
		margin-left: 49%;
	}
