/* Microsoft, still some way to go */

#translations {
		right: 50%;
		margin: 0 5.9em 0.5em 0;
		padding: 0 3em 0 1em;
	}

#language_menu_text {
		padding-left: 30px; /* Interpreted as padding-right */
		background-position: 12em center;
	}

#header li a {
		margin-left: 0;
	}