@import url(previous_next_up-rtl.css);

#maincontent li {
		margin-top: 0.4em;
	}

#read_more {
		text-align: right;
		margin-top: 2em;
		padding: 1em 1em 0 1em;
		border-top: 1px solid #e7e3f9;
		min-height: 12em;
	}

.read_more_title {
		font-size: 0.9em;
		color: #630000;
	}

#read_more ul {
		list-style: square;
		padding-left: 1em;
		margin: 0.8em 0 0.2em 0;
	}

#read_more ul li {
		margin: 1em 0;
		padding: 0;
	}

#read_more ul a {
		color: #000080;
		font-size: 1.1em;
		background: none;
	}

/*----------------nonbreakingspace advertizment----------------*/

#ad {
		float: right;
		width: 20em;
		margin: 0 0 0 1.5em;
		padding: 5px 0.5em 1em 0.8em;
		background: url(/images/bgd_nbsp_vertical.png) center center repeat-y;
		text-align: center;
		border-left: 1px silver solid;
	}

#ad p a {
		font-size: inherit;
	}

#ad img {
		float: none;
		margin: 5px;
	}

#ad_from {
		margin-top: 3em;
		text-align: right;
	}
