@import url(previous_next_up-ltr.css);

#maincontent img {
		float: none;
	}

.even, .odd {
		margin-top: 0.5em;
		height: 150px;
		padding: 0.5em;
		border: 1px #d8e5e5 solid;
		background: white;
	}

.even {
		text-align: left;
	}

#maincontent .even img {
		float: right;
		margin-right: 0em;
		margin-left: 1em;
	}

.odd {
		text-align: right;
	}
	
#maincontent .odd img {
		float: left;
		margin-right: 1em;
		margin-left: 0em;
	}

