h2 {
		text-align: center;
		clear: both;
		margin: 0.5em 0 1.5em 0;
		font-weight: normal;
		font-size: 2em;
	}

#maincontent img {
		clear: none;
		float: none;
		display: block;
		margin: 0;
	}

.note_ital {
		clear: both;
		margin-top: 2em;
		text-align: center;
	}

#intro_box {
		text-align: center;
		margin-bottom: 2em
	}

/*-------------------- Three sections containing 2 links each --------------------*/

.section { /*separating the 3 categories for external links */
		clear: both;
		border-top: 2px #ddddef solid;
		padding: 1em 0 3em 0;
	}

.section a {
		background: none;
	}

.button_link {
		float: none;
		text-align: center;
		width: 180px;
		margin: 0 auto 1em auto;
	}

.button_link a img {
		opacity: 0.8;
	}

.button_link a:hover img {
		opacity: 1;
	}

.column1_2 {
		float: right;
		width: 45%;
		padding: 0 2%;
	}

.column2_2 {
		width: 45%;
		padding: 0 2%;
	}

/*-------------------- About box --------------------*/

#about_us {
    border: 2px #f7f7fc solid;
    background: #f7f7fc;
    padding: 1em;
    margin-top: 4em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#about_us h2 {
		font-size: 1.5em;
		margin: 0;
		font-style: italic;
	}

#about_us img {
		float: right;
		margin: 0 0 1em 1em
	}

/*-------------------- Links in About box --------------------*/

#about_us_more {
		text-align: center;
		width: 80%;
		margin: 1em auto;
		font-size: 0.8em;
	}

#about_us_more li {
		display: inline;
	}

#about_us_more ul {
		list-style-type: none;
		list-style-image: none; /* IE bug */
		margin: 0; /* for IE */
		padding: 0; /* for Moz */
	}

#about_us_more li {
		margin: 1em 0;
		white-space: nowrap;
	}

#about_us_more li a {
		color: #000080;
		padding: 0.2em 0.5em;
		background: none;
	}

#about_us_more li a:hover {
		text-decoration: underline;
	}
