/* style for the "read our article: XY" links in some Windows pages */

.read_article {
		float: right;		
		clear: right;
		margin: 0.8em 0 2em 0;
		font-size: 0.8em;
	}

#mainbody .read_article a {
		background: none;
		padding: 0.4em 0.8em;
		line-height: 1.5em; /* special for IE*/
		border-right: 1px #ab5050 solid;
		border-bottom: 1px #ab5050 solid;
		-moz-border-radius: 2px;
	}

#mainbody .read_article a:hover {
		text-decoration: none;
		border: 1px #ab5050 solid;
		background: #f9f9f9;
	}