
.hidden { display: block; }
.unhidden { display: block; }

.copycode {
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    text-align: left;
    background-color: #EFE0CD;
    font-size: 0.7em;
    padding: 5px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#link_buttons img {
    float: left !important;
    margin: 1.0em 0 0.5em 0 !important;
    padding: 0 10px;
}


#link_buttons hr {
    margin: 1.5em 0;
    color: #807D74;
    background-color: #807D74;
    height: 1px;
    border: 0;
    clear: both;
}

#link_buttons br {
    clear: both;
}
