.header_2 { /*emulating h2 style (we can't use h2 inside links)*/
		display: block;
		font-size: 1.5em;
		margin: 0 0 0.5em 0;
		padding: 0;
	}

/*----------------main content list----------------*/

#mainbody #contentlist {
		padding: 0;
		margin: 0 0 3em 0;
	}

#mainbody #contentlist img {
		margin: 0;
		padding: 0;
	}

#mainbody #contentlist a {
		clear: both;
		display: block;
		padding: 1em;
		margin: 1em 0;
		height: 3.5em;
		min-height: 55px;
		background: none;
		-moz-border-radius: 4px;
	}

#mainbody #contentlist a img {
		opacity: 0.85;
	}

#mainbody #contentlist a:hover img {
		opacity: 1;
	}

#mainbody #contentlist a:hover {
		text-decoration: none;
	}

#mainbody #contentlist a:hover span {
		color: #00c;
		text-decoration: underline;
		background: transparent; /* no dotting but no color either */
	}

#mainbody #contentlist a:hover .header_2 {
		text-decoration: none;
		color: #000080;
	}

/*----------------color of boxes----------------*/

#mainbody #contentlist .odd {
		background: #f5f9ff;
		border: 1px #e0ecff solid;
	}

#mainbody #contentlist .odd:hover {
		background: #f2f7ff;
		border: 1px #DFD9F9 solid;
	}

#mainbody #contentlist .even {
		background: #f8fff5;
		border: 1px #e0ffe4 solid;
	}

#mainbody #contentlist .even:hover {
		background: #f4fff0;
		border: 1px #DFD9F9 solid;
	}

/*----------------nonbreakingspace advertizing area----------------*/

#ad {
		background: url(bgd_nbsp_horizontal.png) center center repeat-y;
		margin: 7em 0 3em 0;
		padding: 0.6em 20%;
		border-top: 1px silver solid;
		border-bottom: 1px silver solid;
	}

#ad img {
		float: left;
		margin: 5px 1em 5px 0;
	}

#ad_from {
		height: 2em;
		clear: left;
		float: right;
		margin-top: -2em;
	}
