h2 {
		margin: 0 0 0.5em 0;
	}

.ubuntu, .gnewsense, .fedora {
		clear: both;
		padding: 1em;
		margin: 1em;
		background: white;
        border-radius: 4px;
		-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
	}

.ubuntu img, .gnewsense img, .fedora img {
		margin-bottom: 0.5em;
	}

.ubuntu {
		border: 1px #DD4814 solid;
	}

.fedora {
		border: 1px #08517a solid;
	}

.gnewsense {
		border: 1px #8f5902 solid;
	}


.ubuntu_title, .fedora_title, .gnewsense_title {
		font-family: Helvetica, Arial, sans-serif;
		padding-left: 20px;
		font-size: 1.2em;
	}


.ubuntu_title {
		color: #000000;
		background: url(/images/switch_to_linux/switch_to_linux.choose_a_distribution.ubuntu_icon.png) center left no-repeat;
	}

.fedora_title {
		color: #0a57a4;
		background: url(/images/switch_to_linux/switch_to_linux.choose_a_distribution.fedora_icon.png) center left no-repeat;
	}

.gnewsense_title {
		color: #563100;
		background: url(/images/switch_to_linux/switch_to_linux.choose_a_distribution.gnewsense_icon.png) center left no-repeat;
	}


.distro_screenshots {
		margin-top: 3em;
		text-align: center;
	}

#maincontent .distro_screenshots img {
		float: none;
		margin: 0 1em 0.5em 0;
	}

#maincontent .distro_screenshots a {
		background: none;
	}

.note_ital {
		text-align: center;
	}
