@import url(further_reading-ltr.css);

.note {
		text-align: right;
	}

h3 {
		color: #000080;
		font-size: 1.1em;
		font-weight: normal;
	}

.small_list ul {
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 1em;
	}

.small_list li {
		margin: 0.1em 0 0 1.2em;
		padding: 0;
	}

.imagequote {
		min-width: 235px;
	}


/* below is common to all Windows sub-sections */

h2 {
		font-size: 1.8em;
	 }
