@import url(previous_next_up-ltr.css);
@import url(read_article-ltr.css);

.paragraph {
		margin-bottom: 4em;
	}

h2 {
		font-size: 1.6em;
	}

.conclusion {
    background: none repeat scroll 0 0 #EAE8E3;
    border: 1px solid #BABDB6;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}
