@import url(previous_next_up-ltr.css);
@import url(read_article-ltr.css);

.paragraph {
		margin-bottom: 4em;
	}

h2 {
		font-size: 1.6em;
	}

.conclusion {
    background: none repeat scroll 0 0 #E4EBFF;
    font-size: 0.95em;
    margin-top: 5em;
    padding: 1em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 0 #B3C7FF;
    -moz-box-shadow: 0 1px 0 #B3C7FF;
    -webkit-box-shadow: 0 1px 0 #B3C7FF;
	}

.conclusion p {
    margin: 5px 0;
}
