@import url(previous_next_up-ltr.css);
@import url(read_article-ltr.css);

.paragraph {
		margin-bottom: 4em;
	}

h2 {
		font-size: 1.6em;
	}

.conclusion {
		clear: both;
		margin-top: 6em;
		border: 1px #90EE90 solid;
		background: white;
		padding: 1em;
	}