*.gmo
*.mo
.ssh/
Makefile
autom4te.cache/
config.log
config.status
data/hosted.weblate.org.json
docroot/images/
docroot/lib/views/include/weblate_credits.html
docroot/scripts/
docroot/settings.php
docroot/styles/
docroot/templates/
node_modules/
po/Makefile.in
po/Makevars.template
po/POTFILES
po/remove-potcdate.sed
po/stamp-po
