*.gmo
*.mo
Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
configure
docroot/images/
docroot/lib/views/credits.php
docroot/scripts/
docroot/settings.php
docroot/styles/
docroot/templates/
install-sh
missing
node_modules/
po/Makefile.in
po/Makevars.template
po/POTFILES
po/remove-potcdate.sed
po/stamp-po
