/*
 * License: SIL Open Font License, 1.1
 */

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: bold;
  src: local('Cantarell Bold'), local('Cantarell-Bold'), url('fonts/Cantarell-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: normal;
  src: local('Cantarell Oblique'), local('Cantarell-Oblique'), url('fonts/Cantarell-Oblique.ttf') format('truetype');
}
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: normal;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url('fonts/Cantarell-Regular.ttf') format('truetype');
}


/* Disabled: This font looks ugly in Windows.
@font-face {
  font-family: 'MgOpen Cosmetica';
  font-weight: bold;
  src: local('MgOpen Cosmetica'), local('MgOpen Cosmetica Regular'),
  url('fonts/MgOpenCosmeticaRegular.ttf');
}
*/
