
/* "read more" section, bottom of the page, with 2 columns */

.further_reading {
    background: none repeat scroll 0 0 #E4EBFF;
    font-size: 0.95em;
    margin-top: 4.5em;
    padding: 1em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 0 #B3C7FF;
    -moz-box-shadow: 0 1px 0 #B3C7FF;
    -webkit-box-shadow: 0 1px 0 #B3C7FF;
}

.further_reading a {
		background: none;
	}

.further_reading h2 {
		font-weight: normal;
		color: #630000;
		margin-top: 0.2em;
		margin-bottom: 1em;
		font-size: 1.3em;
	 }

.further_reading h3 {
		display: block;
		margin: 0.5em 0;
	 }

.further_reading p {
		margin-top: 0.2em;
	}

#left_column {
		width: 47%;
		float: left;
		border-right: 1px #B3C7FF solid;
		padding-right: 1em;
		margin-right: 1em;
	}

#right_column {
		padding: 0 1em;
		margin-left: 49%;
	}
