/* Microsoft, still some way to go */

#language_menu_text {
    padding-left: 30px; /* Interpreted as padding-right */
    background-position: 8.5em center;
}

.addthis_toolbox {
    display: none; /* IE7 + rtl + AddThis = a mess */
}
