/* en-specific style */


/*-------------------------
the classics
-------------------------*/

#header_picture {
		background-color: #3e58b8;
	}

#header_picture_homepage {
		background-color: #6378c7;
	}

/*-------------------------
main menu dimensioning
-------------------------*/

#header #menu_more {
		width: 12%;
		min-width: 3.4em;
	}

#header #menu_switch_to_linux, #header #menu_windows {
		width: 31%;
		min-width: 9.75em;
	}

#header #menu_linux {
		width: 26%;
		min-width: 7.8em;
	}