@import url(further_reading-ltr.css);
@import url(previous_next_up-ltr.css);

h2 {
		text-indent: -1.5em;
		padding-left: 1.5em;
	}

h3 {
		display: block;
		margin: 0.5em 0;
	}


#morebox {
		width: 60%;
		margin: 1em auto;
		font-size: 0.8em;
		border: 1px #DFD9F9 solid;
		padding: 0.5em;
	}

#morebox ul {
		list-style-type: none;
		list-style-image: none; /* IE bug */
		margin: 0; /* for IE */
		padding: 0; /* for Moz */
	}

#morebox li {
		margin: 0.5em 0;
		white-space: nowrap;
	}

#morebox li a {
		padding: 0.2em 0.5em;
		background: none;
	}

#collapsed_box {
		font-size: 0.95em;
		margin-top: 3em;
		padding: 2em;
		border: 1px #e8e8dc solid;
		background: #ffffef;
	}

#collapsed_box h2 {
		margin-top: 0;
		text-indent: 0;
		padding-left: 20px;
		background: url(/images/plus.png) center left no-repeat;
	}

.toggleanswer {
		cursor: pointer;}

.answer {
		margin-bottom: 2em;
		padding-left: 1.5em;
	}

