/*----------------------------------------------------
 * General styles
 *----------------------------------------------------*/

body {
    background: url("/images/cream_dust.png") repeat scroll 0 0 transparent;
    background-color: #F8F8F8;
    color: #3C4043;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    height: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: 300;
    margin-bottom: 1em;
}

h1 a,
h1 a:hover,
h1 a:visited,
h2 a,
h2 a:hover,
h2 a:visited {
    color: #333333;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

header h1 {
    font-family: Palatino,"Palatino Linotype",Georgia,"Book Antiqua",Times,"Times New Roman",serif;
    font-weight: normal;
}

h2 {
    border-top: 1px solid #EDECE4;
    font-size: 2.5em;
    margin-bottom: 0.45rem;
    margin-top: 0.8em;
    padding-top: 0.8em;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
}

hr {
    border-color: #CCCCCC;
    border-right: 0 solid #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}

section {
    padding: 1rem 0;
}

::selection {
  background: #009ACD;
  color: #FFFFFF;
}

::-webkit-selection {
  background: #009ACD;
  color: #FFFFFF;
}

::-moz-selection {
  background: #009ACD;
  color: #FFFFFF;
}

a {
    color: #2A5886;
    text-decoration: none;
}

a:hover {
    color: #00c;
    text-decoration: underline;
}

a:active {
    color: red;
}

a:visited {
    color: #2351B9;
}

a img {
    border: none;
}

acronym, abbr, .caps {
    letter-spacing: 0.05em;
}

ul {
    margin-bottom: 2em;
}

li {
    margin: 0 0 1em 0;
}

/*----------------------------------------------------
 * Main content
 *----------------------------------------------------*/

.maxwidth {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 2em;
}

.page-intro {
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 650px;
    padding-bottom: 0.5em;
    text-align: center;
}

.page-banner {
    background-image: url(/images/clouds.jpg);
    background-attachement: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    padding: 1em;
    position: relative;
}

.bg-even {
    background-color: #EEECE9;
}

.no-padding {
    padding: 0;
}

.button-section h1 {
    font-weight: 300;
}

.highlight {
    background-color: #EEECE9;
    display: block;
    padding: 0.4em;
}

.note {
    font-size: 0.85em;
}

.italic {
    font-style: italic;
}

.centered {
    text-align: center;
}

.footnotes {
    border-top: 1px solid #EDECE4;
    font-size: 85%;
    margin-top: 3em;
}

.paragraph {
    margin-bottom: 4em;
}

.small_list ul {
    margin-bottom: 1em;
}

.small_list li {
    margin: 0.1em 0 0 1.2em;
    padding: 0;
}

.toggleanswer {
    cursor: pointer;
}

.linux img,
.screenshots img,
.distro_screenshots img {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*----------------------------------------------------
 * Image Slider: General
 *----------------------------------------------------*/

.flexslider {
    position: relative;
    zoom: 1;
}

/* Navigation icons bug workaround */
.flex-direction-nav a  {
    line-height: 40px;
}

/* Get rid of the white space below the slider */
.flexslider li {
    margin-bottom: 0;
}

/*----------------------------------------------------
 * Image Slider: Front Page
 *----------------------------------------------------*/

/* Make sure the navigation arrows don't overflow the page */
.flexslider.home {
    overflow: hidden;
}

/* Put the navigation bullets on the slide */
.flexslider.home .flex-control-nav {
    bottom: 5px;
    z-index: 2;
}

/*----------------------------------------------------
 * Image Slider: Screenshots
 *----------------------------------------------------*/

/* Override some default values */
.flexslider.screenshots {
    margin-bottom: 3em;
}

/* Put the navigation bullets on the slide */
.flexslider.screenshots .flex-control-nav {
    bottom: 5px;
    z-index: 2;
}

/* Captions */
.flexslider.screenshots .flex-caption {
    background-color: #EEECE9;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 1%;
    position: absolute;
    text-align: center;
    width: 98%;
}

/* Add space between slider and caption */
.flexslider.screenshots .slides img {
    margin-bottom: 10px;
}

/*----------------------------------------------------
 * Image Slider: Front Page Slides
 *----------------------------------------------------*/

.fp-slide {
    color: #FFFFFF;
    min-height: 460px;
    padding: 0.1em;
    position: relative;
}
.fp-slide h1 {
    color: #FFFFFF;
}

.slide-text {
    font-size: 1.3rem;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 1em 1em 1em;
    text-align: center;
}

.slide-ggl {
    background-color: #49B7E8;
    background-image: url("/images/Slide_GNU_Linux.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.slide-ggl h1 {
    font-family: Palatino,"Palatino Linotype",Georgia,"Book Antiqua",Times,"Times New Roman",serif;
    font-weight: normal;
    margin: 150px 0 0;
    text-shadow: 0px 0px 5px #fff;
}

.slide-linux {
    background-color: #84A030;
    background-image: url("/images/Slide_What_is_Linux.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.slide-linux h1 {
    font-weight: 300;
    margin: 150px 0 0;
}

.slide-windows {
    background-color: #A7401D;
    background-image: url("/images/Slide_Windows.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.slide-windows h1 {
    font-weight: 300;
    margin: 150px 0 0;
}

.slide-switch {
    background-color: #C54D1C;
    background-image: url("/images/Slide_Switch.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.slide-switch h1 {
    font-weight: 300;
    margin: 150px 0 0;
}

/*----------------------------------------------------
 * Navigation menu
 *----------------------------------------------------*/

#navigation {
    padding: 8px 0;
    margin-top: 0px;
    font-size: 16px;
    line-height: normal;
    text-align: center;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0 5px;
}

#navigation ul li {
    display: inline-block;
    margin: 0 5px 0 0;
}

#navigation a {
    font-size: 1.0em;
    line-height: 2em;
    padding: 4px 8px;
    text-decoration: none;

    transition: ease 200ms linear;
    -webkit-transition: ease 200ms linear;
    -moz-transition: ease 200ms linear;
}

#navigation a,
#navigation a:hover,
#navigation a:visited {
    color: #333333;
}

#navigation a:hover {
    border-bottom: 2px solid #6296C2 !important;
}

#navigation a:active,
#navigation li.current-menu-item a,
#navigation li.current-menu-subitem a {
    border-bottom: 2px solid #4682B4;
}

#navigation li.current-menu-subitem a {
    border-bottom: 2px solid #7AA6CA;
}


/*----------------------------------------------------
 * Main contents
 *----------------------------------------------------*/

.float-right {
    clear: right;
    float: right;
    margin: 0 0 2em 2em !important;
}

#intro_box {
    margin-top: 5em;
}

/*----------------------------------------------------
 * Subheader ("contents of chapter" box)
 * (only displays in level 2 pages)
 *----------------------------------------------------*/

#subheader {
    clear: right;
    float: right;
    font-size: 0.8em;
    margin: 3em 0 2em 1.5em;
    padding: 0.5em 1em 0.5em 1em;
    max-width: 220px;
    min-width: 150px;
}

#subheader .title {
    display: block;
    text-align: center;
    font-style: normal;
    margin-bottom: 0.8em;
    text-transform: capitalize;
}

#subheader .title a {
    background: none;
    text-decoration: none;
    color: black;
}

#subheader ul {
    list-style-type: none;
    list-style-image: none; /* IE bug */
    margin: 0; /* for IE */
    padding: 0; /* for Moz */
}

#subheader li {
    margin: 0.5em 0;
    text-align: left;
}

#subheader li a {
    color: #000080;
    display: block;
    padding: 0.2em 0.5em;
    background: none;
    outline: 0;
}

#subheader li a:hover {
    color: #000000;
    text-decoration: underline;
}

#subheader .wehere a {
    text-decoration: underline;
}

/*----------------------------------------------------
 * Styles for the "Switch to Linux" pages.
 *----------------------------------------------------*/

.section {
    clear: both;
    border-top: 2px #ddddef solid;
    padding: 1em 0 3em 0;
}

div .note {
    margin-top: 1em;
    text-align: right;
}

/*----------------------------------------------------
 * Styles for "Choose a distribution" page.
 *----------------------------------------------------*/

section.ubuntu {
    border-top: medium solid #DD4814;
}

section.fedora {
    border-top: medium solid #08517A;
}

section.gnewsense {
    border-top: medium solid #8F5902;
}

section.trisquel {
    border-top: medium solid #004DB1;
}

.distro_screenshots {
    margin-top: 3em;
    text-align: center;
}

.distro_screenshots img {
    float: none;
    margin: 0 1em 0.5em 0;
}

.distro_screenshots a {
    background: none;
}

/*----------------------------------------------------
 * Styles for the "Try or install" page.
 *----------------------------------------------------*/

.link_download {
    background: url(/images/go_down.png) center left no-repeat;
    padding-left: 22px;
}

.link_disc {
    background: url(/images/cd.png) center left no-repeat;
    padding-left: 22px;
}

.link_download a, .link_disc a {
    background: none;
}

.ubuntu_light, .fedora_light, .gnewsense_light, .trisquel_light {
    margin: 1em 0;
    padding: 0.5em;
    background: white;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.ubuntu_light {
    border: 2px #DD4814 solid;
}

.fedora_light {
    border: 2px #6c94c9 solid;
}

.gnewsense_light {
    border: 2px #c59292 solid;
}

.trisquel_light {
    border: 2px #004DB1 solid;
}

.getit_box_left {
    float: left;
}

.getit_box_right {
    float: right;
}

.getit_box_logo {
    float: left;
    width: 70px;
    padding: 10px;
}

.getit_box_text {
    float: left;
    width: 450px;
}

/*----------------------------------------------------
 * Styles for the "More" page.
 *----------------------------------------------------*/

.more_section { /*separating the 3 categories for external links */
    clear: both;
    padding: 1em 0 3em 0;
}

.more_section a {
    background: none;
}

.button_link {
    float: none;
    text-align: center;
    width: 180px;
    margin: 0 auto 1em auto;
}

.button_link a img {
    opacity: 0.8;
}

.button_link a:hover img {
    opacity: 1;
}

.column1_2 {
    float: right;
    width: 45%;
    padding: 0 2%;
}

.column2_2 {
    width: 45%;
    padding: 0 2%;
}

/*-------------------- About box --------------------*/

#about_us {
    background: none repeat scroll 0 0 #EDF2FF;
    font-size: 0.95em;
    margin-top: 4.5em;
    padding: 1em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 0 #B3C7FF;
    -moz-box-shadow: 0 1px 0 #B3C7FF;
    -webkit-box-shadow: 0 1px 0 #B3C7FF;
}

#about_us h2 {
    font-size: 1.5em;
    margin: 0;
    font-style: italic;
}

#about_us img {
    float: right;
    margin: 0 0 1em 1em
}

/*-------------------- Links in About box --------------------*/

#about_us_more {
    text-align: center;
    width: 80%;
    margin: 1em auto;
    font-size: 0.8em;
}

#about_us_more li {
    display: inline;
}

#about_us_more ul {
    list-style-type: none;
    list-style-image: none; /* IE bug */
    margin: 0; /* for IE */
    padding: 0; /* for Moz */
}

#about_us_more li {
    margin: 1em 0;
    white-space: nowrap;
}

#about_us_more li a {
    color: #000080;
    padding: 0.2em 0.5em;
    background: none;
}

#about_us_more li a:hover {
    text-decoration: underline;
}

/*----------------------------------------------------
 * Page specific styles
 *----------------------------------------------------*/

.windows h2 {
    font-size: 1.6em;
}

.windows_sub h2 {
    font-size: 1.8em;
}

.what_about_source_code img {
    margin-top: 0.5em;
}

.stand_for_a_free_society h3 {
    color: #000080;
    font-size: 1.1em;
    font-weight: normal;
}

.linux li {
    margin-top: 0.4em !important;
}

.mfs h2 {
    text-indent: -1.5em;
    padding-left: 1.5em;
}

.mfs h3 {
    display: block;
    margin: 0.5em 0;
}

.mfs_answer {
    margin-bottom: 2em;
    padding-left: 1.5em;
}

.from_windows_to_linux ul {
    padding-left: 1.2em;
}

.from_windows_to_linux li {
    clear: right;  /*see #317*/
}

.from_windows_to_linux h2 {
    margin: 0.5em 0 1.5em 0;
    font-weight: normal;
    font-size: 2em;
    text-align: center;
}

.from_windows_to_linux h3 {
    display: block;
    margin-bottom: 0.2em;
    color: #000080;
    font-size: 1.2em;
}

.choose_a_distribution h2 {
    margin: 0 0 0.5em 0;
}

.try_or_install h2 {
    margin: 0.5em 0 1.5em 0;
    font-size: 1.8em;
}

.try_or_install h3 {
    display: block;
    font-size: 1.2em;
    margin: 1em 0 0.5em 0;
    color: #000080;
}

.try_or_install h4 {
    margin: 0 0 1.5em 0;
}

.more h2 {
    text-align: center;
    clear: both;
    margin: 0.5em 0 1.5em 0;
    font-weight: normal;
    font-size: 2em;
}

.more_section img {
    clear: none !important;
    float: none !important;
    display: block;
    margin: 0 !important;
}

.credits h2 {
    font-size: 1.5em;
    font-weight: normal;
    padding-top: 1em;
    border-top: 1px #DFD9F9 solid;
}

/*----------------------------------------------------
 * "Read more" section on the "More details on restrictions" page.
 *----------------------------------------------------*/

.further-reading {
    font-size: 0.95em;
    margin-top: 4.5em;
    padding: 1em;
}

.further-reading a {
    background: none;
}

.further-reading h2 {
    border: medium none;
    margin: 0 0 0.5em;
    padding: 0;
}

.further-reading h3 {
    display: block;
    font-size: 1.4em;
    margin: 0 0 0.5em;
    text-align: left;
}

.further-reading p {
    margin-top: 0.2em;
}

.left-column {
    width: 47%;
    float: left;
    border-right: 1px #D7B41A solid;
    padding-right: 1em;
    margin-right: 1em;
}

/*----------------------------------------------------
 * "More in this section" section on the "Linux" page.
 *----------------------------------------------------*/

#read_more {
    text-align: left;
    margin-top: 2em;
    padding: 1em 0 1em 1em;
    border-top: 1px solid #e7e3f9;
}

/*----------------------------------------------------
 * Chapters list
 *----------------------------------------------------*/

.chapters {
    margin: 2em auto 0;
    text-align: center;
}

.chapters .title a {
    color: #3C4043;
    display: inline-block;
    line-height: 2em;
    margin: 0.5em;
}

.chapters ul {
    background-color: #EEECE9;
    list-style: none outside none;
    margin: 0;
    padding: 0.4em 0;
}

.chapters ul li {
    display: inline-block;
    margin: 0;
    padding: 0 1em;
    white-space: nowrap;
}

.chapters ul li a,
.chapters ul li a:visited {
    color: #3C4043;
    display: inline-block;
    line-height: 1.8em;
}

.chapters .active a,
.chapters .active a:hover {
    color: #666666 !important;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}

.chapters ul li:last-child {
    border-right: medium none;
}

.chapters li a:hover {
    color: #043f58;
}

/*----------------------------------------------------
 * Quotes
 *----------------------------------------------------*/

.quote {
    background-color: #FFFFED;
    border-bottom: 2px dashed #EAEAD2;
    border-top: 2px dashed #EAEAD2;
    margin: 1em auto;
    padding: 0.5em 2em;
    width: 85%;
}

.quote p {
    font-style: italic;
}

.quote .source {
    display: block;
    font-size: 0.9em;
    margin-top: 0.6em;
    text-align: right;
}

.quote.small {
    margin: 0;
    padding: 0.5em 1em;
    width: 35%;
}

.quote.image {
    width: auto;
}

/*----------------------------------------------------
 * "Next page:" banner at bottom of page
 * used only on switch_to_linux.* (level 2) pages
 *----------------------------------------------------*/

#bottom_next_page_banner {
    margin: 3em -0.8em -0.8em -0.8em;
    text-align: center;
}

#bottom_next_page_banner a .arrow {
    background: url(/images/arrow_right.png) center right no-repeat;
    padding-right: 50px;
}

/*----------------------------------------------------
 * "Link buttons" page.
 *----------------------------------------------------*/

.copycode {
    background-color: #F1F1F1;
    border: 1px solid #4D4D4D;
    color: black;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 0.7em;
    text-align: left;
    padding: 5px;

    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}

#link_buttons img {
    float: none;
    margin: 0 1em 0 0;
    padding-bottom: 5px;
    vertical-align: top;
}

.link_button {
    margin-bottom: 25px;
}

/*----------------------------------------------------
 * Conclusion boxes
 *----------------------------------------------------*/

.conclusion {
    font-size: 0.95em;
    margin-top: 5em;
    padding: 1em;
	}

.conclusion p {
    margin: 5px 0;
}

/*----------------------------------------------------
 * Previous, next and up navigation "buttons" occasionally displayed at top
 * and bottom of pages.
 *----------------------------------------------------*/

#switcher {
    margin: 3em 0 1em 0;
    padding-bottom: 1.5em;
}

.morebox {
    width: 60%;
    margin: 1em auto;
    font-size: 0.8em;
    border: 1px #DFD9F9 solid;
    padding: 0.5em;
}
.morebox ul {
    list-style-type: none;
    list-style-image: none; /* IE bug */
    margin: 0; /* for IE */
    padding: 0; /* for Moz */
}
.morebox li {
    margin: 0.5em 0;
    white-space: nowrap;
}
.morebox li a {
    padding: 0.2em 0.5em;
    background: none;
}

#collapsed_box {
    font-size: 0.95em;
    margin-top: 3em;
    padding: 2em;
}
#collapsed_box h1 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 0.5em;
    text-align: left;
}
#collapsed_box h2 {
    border: medium none;
    font-size: 1.8em;
    margin-top: 0;
    padding: 0 0 0 20px;
    background: url(/images/plus.png) center left no-repeat;
}
#collapsed_box h3 {
    font-size: 1.5em;
    margin: 0;
}

.post-it {
    background-color: #F9EDA6;
    border: 1px #E6C813 solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

div.button {
    margin: 40px 0;
}

div.button.wide {
    min-width: 13.5em;
}

.button a {
    background-color: #E2E4D7;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    padding: 0.7em 1em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.30);
    white-space: nowrap;
    width: auto;
}
.button a:hover,
.button a:active {
    background-color: #B7CFDC;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-decoration: none;
}

.button.green a {
    background-color: #8DB90A;
}
.button.green a:hover,
.button.green a:active {
    background-color: #96C017;
}

.button.orange a {
    background-color: #D66E4B;
}
.button.orange a:hover,
.button.orange a:active {
    background-color: #DC7654;
}

.button.blue a {
    background-color: #2785C6;
}
.button.blue a:hover,
.button.blue a:active {
    background-color: #358FCD;
}

/* ------------------------- Previous button --------------*/

a.previousbutton {
    float: left;
    text-align: center;
}

.previous {
    background: url(/images/left.png) center left no-repeat; /* icons by Mark James - famfamfam.com */
    padding-left: 20px;
    font-size: 0.9em;
}

/* ------------------------- Next button --------------*/

a.nextbutton {
    float: right;
    text-align: center;
}

.next {
    background: url(/images/right.png) center right no-repeat;
    padding-right: 20px;
    font-size: 0.9em;
}

/* ------------------------- Up button --------------*/

.upbutton_section {
    margin: 3em 0 0 0;
    height: 2em;
}

a.upbutton {
    float: right;
    text-align: center;
}

.up {
    background: url(/images/up.png) center left no-repeat;
    padding-left: 20px;
    font-size: 0.9em;
}

/*----------------------------------------------------
 * Linux FAQ
 *----------------------------------------------------*/

#faq_content {
    padding-left: 0.5em;
}

#faq_content ul {
    margin: 0 0 1em 0;
    padding-left: 1em;
    list-style-image: none;
    list-style-type: none;
}

#faq_content li {
    margin-top: 0.4em;
    padding-left: 0; /*for IE*/
    margin-left: 0; /*for moz*/
}

#faq_content li a, #faq_content li a:hover {
    padding-left: 16px;
}


.back_to_top {
    float: right;
    font-size: 0.8em;
    margin-right: -3px;
}

.back_to_top a {
    padding: 3px 10px;
    background-color: transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.back_to_top a:hover {
    background-color: rgba(0,0,0,0.1);
    text-decoration: none;
}

.qa_series { /*Set of questions*/
    margin-top: 2em;
}

.question  { /*Question, is also h3 */
    margin: 2em 0 0.1em;
}

.question_sub {
    margin-top: 0;
}

.answer {
    margin-top: 0.8em;
    margin-bottom: 4em;
    /*padding-left: 1em;
    border-left: 3px #E5E5E5 solid;*/
}

.read_more {
    margin-left: 60%;
    font-size: 0.9em;
}

#more_q {
    margin-top: 3em;
}

/*----------------------------------------------------
 * "Screenshots" page.
 *----------------------------------------------------*/

.screenshots h2 {
    text-align: center;
}

.screenshots .screenshots-section {
    display: block;
    margin: 1em 0 1em;
    padding: 0.5em;
    overflow: hidden;
}

.screenshots .screenshots-section .text {
    width: 100%;
}

.screenshots div.image-left div.image {
    float: left;
    margin-right: 1em;
    margin-left: 0;
}

.screenshots div.image-right div.image {
    float: right;
    margin-right: 0;
    margin-left: 1em;
}

/*----------------------------------------------------
 * "Credits" page.
 *----------------------------------------------------*/

.tab {
    padding-left: 2em;
}

.img_box {
    border: 1px #e0a668 solid;
    padding: 10px;
    margin-top: 0.8em;
}

.img_box img {
    float: none;
    display: inline;
}

.img_box a {
    background: none;
}

.credits ul {
    padding: 0 0 0 2em;
    margin: 0;
    text-align: left;
}

.credits ul li {
    margin: 0.2em 0;
    padding: 0;
}

/*----------------------------------------------------
 * Language menu
 *----------------------------------------------------*/

#translations ul {
    padding-left: 0;
    list-style: none;
}

#translations li {
    display: inline-block;
    padding-left: 0;
    padding-right: 10px;
}

#translations li a {
    line-height: 1.0em;
}

#translations .active a {
    font-weight: bold;
}

/*----------------------------------------------------
 * Footer
 *----------------------------------------------------*/

footer {
    background-color: #545454;
    color: #CCCCCC;
    margin-bottom: 0;
    width: 100%;
}

footer a,
footer a:hover,
footer a:visited {
    color: #EEECE9;
}

footer h1 {
    color: #EEECE9;
}

footer hr {
    border-color: rgba(255,255,255,0.1);
}

#footer-container {
    font-size: 0.9em;
    padding: 2em;
}

.footer-block {
    display: inline;
    float: left;
    margin-right: 3em;
    max-width: 25%;
}

.footer-block h1 {
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 12px;
    margin: 10px 0;
    padding-bottom: 3px;
    text-align: left;
}

footer ul {
    text-align: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

footer li {
    display: block;
    margin: 2px 0;
}

footer a.more {
    background-color: rgba(255,255,255,0.1);
    padding: 0 8px;
}

footer a.more:hover {
    background-color: rgba(255,255,255,0.2);
    text-decoration: none;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
