/*----------------------------------------------------
 * Load some custom fonts.
 * Cantarell: SIL Open Font License, 1.1
 *----------------------------------------------------*/

/*
@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: normal;
    src: local('Cantarell'), local('Cantarell Regular'),
    url('fonts/Cantarell-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: bold;
    src: local('Cantarell'), local('Cantarell Bold'), local('Cantarell-Bold'),
    url('fonts/Cantarell-Bold.otf') format('opentype');
}
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*----------------------------------------------------
 * First, resetting some of the heterogenous UA styling
 *----------------------------------------------------*/

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 0.8em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img, abbr, acronym {
    border: 0;
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Palatino,"Palatino Linotype",Georgia,"Book Antiqua",Times,"Times New Roman",serif;
    margin-bottom: 1em;
}

hr {
    border-color: #CCCCCC;
    border-right: 0 solid #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}

q:before, q:after {
    content: '';
}

/*----------------------------------------------------
 * General styles
 *----------------------------------------------------*/

.accessibility a {
    display: none; /* Link to skip all header stuff, for text-based surfers */
}

html {
    text-align: justify;
    font-family: 'Open Sans',Cantarell,'Droid Sans',Arial,sans-serif;
    font-size: 0.95em;
    color: black;
    background-color: #F8F8F8;
    line-height: 1.4;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-selection {
  background: #1771A5;
  color: #FFFFFF;
}

::-moz-selection {
  background: #1771A5;
  color: #FFFFFF;
}

::selection {
  background: #1771A5;
  color: #FFFFFF;
}

a {
    color: #2A5886;
    text-decoration: none;
}

a:hover {
    color: #00c;
    text-decoration: underline;
}

a:active {
    color: red;
}

a:visited {
    color: #2351B9;
}

a img {
    border: none;
}

.wehere a {	/* In all navigations, local page or section */
    color: #043f58;
}

#header li .wehere a {
    color: #043f58;
    border: 1px #043f58 solid;
    text-decoration: none;
}

acronym, abbr, .caps {
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.05em;
    border-bottom: dotted 1px #6B6B6B;
}

h1 {
    text-align: center;
}

.windows_section_h1 { /* Applied to h1 in Win sub-section */
    margin-top: 4.5em;
}

h2, h3, h4 {
    text-align: left;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #000080;
    margin-top: 2em;
    margin-bottom: 0.2em;
}

h3 {
    display: inline;
    font-size: 1.3em;
}

h4 {
    display: inline;
    color: #630000;
    font-size: 1.2em;
    font-style: italic;
}

em, strong {
    color: #630000;
}


#maincontent ul {
    list-style-image: url(/images/blackbullet.png); /* Icons by Mark James - famfamfam.com */
    margin-bottom: 2em;
}

#maincontent li {
    margin: 0 0 1em 0;
}

code {
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    color: #8B6914;
}

.keypart { /* Blue-highlighted key ideas, used in Windows sub-sections */
    display: block;
    font-size: 1.05em;
    padding: 0.4em;
    margin: 0 0 0.8em 0;
    line-height: 1.5em;
    background-color: #edf7ff;
}

.note, .note_ital {
    font-size: 0.85em;
}

.note_ital {
    font-style: italic;
}

.centered {
    text-align: center;
}

.footnote {
    position: relative;
    bottom: 0.5em;
    color: red !important;
    font-size: 0.8em;
}

.footnotes_bottom {
    margin-top: 3em;
    border-top: 1px #DFD9F9 solid;
    padding: 1em 1em 0 1em;
    font-size: 0.8em;
}

.paragraph {
    margin-bottom: 4em;
}

.ul_clear_right ul {
    clear: right;
}

.small_list ul {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 1em;
}

.small_list li {
    margin: 0.1em 0 0 1.2em;
    padding: 0;
}

.imagequote {
    min-width: 235px;
}

.toggleanswer {
    cursor: pointer;
}

.header_2 { /*emulating h2 style (we can't use h2 inside links)*/
    display: block;
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.linux img,
.screenshots img,
.distro_screenshots img {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*----------------------------------------------------
 * Header styles
 *----------------------------------------------------*/

/* the classics */

#header_picture {
		background-color: #3e58b8;
	}

#header_picture_homepage {
		background-color: #6378c7;
	}

/* main menu dimensioning */

#header #menu_more {
		width: 12%;
		min-width: 3.4em;
	}

#header #menu_switch_to_linux, #header #menu_windows {
		width: 31%;
		min-width: 9.75em;
	}

#header #menu_linux {
		width: 26%;
		min-width: 7.8em;
	}

/*----------------------------------------------------
 * Language menu on top of page
 *----------------------------------------------------*/

#translations {
    position: absolute;
    left: 50%;
    margin-left: 178px;
    top: 0;
    padding: 0;
    width: 13em;
    cursor: pointer;
    background: white;
    z-index: 2;
}

#translations span.percent {
    color: gray;
    font-size: 0.6em;
    font-style: italic;
    padding-right: 1em;
    position: absolute;
    right: 0;
}

#language_menu {
    height: 24px;
    min-height: 21px;
    padding: 0;
    text-align: center;
    color: #555555;
    background-color: #FFFFFF;
    border-bottom: 1px #dfd9f9 solid;
    border-right: 1px #dfd9f9 solid;
    border-left: 1px #dfd9f9 solid;
    background-image: url(/images/arrow_down.png);
    background-position: right center;
    background-repeat: no-repeat;
    vertical-align: middle;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

#language_menu_text {
    background: url(/images/alternate_languages.png) top left no-repeat;
    font-size: 13px;
    min-height: 24px;
    padding: 0 0 0 30px;
}

#translations ul {
    position: absolute; /* Absolute, within containing div #language_menu that is... */
    top: 26px;
    margin: -1px -2em 0 0;
    padding: 0;
    list-style: none;
    z-index: 3;
    display: none;
    box-shadow: -1px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: -1px 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: -1px 1px 2px rgba(0,0,0,0.1);
}

#translations li {
    width: 13em;
    margin: 0;
    padding: 0;
    text-align: left;
}

#translations:hover ul, #translations.sfhover ul {
    display: block;
}

#translations li a {
    display: block;
    margin: -1px 0 0 0;
    padding: 0.2em 0.3em 0.3em 0.5em;
    line-height: 1.0em;
    background-color: #FEFEFE;
    border: 1px #dfd9f9 solid;
    height: 100%;
}

#translations li a:hover {
    background: #EEEEEE;
    text-decoration: none;
    color: black;
}

#translations #is_current_language a {
    color: gray;
}

/*----------------------------------------------------
 * Language menu's on the "Select a language" page
 *----------------------------------------------------*/

.three_columns {
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari and Chrome */
    /* column-count: 3; Doesn't look good in Opera */
}

div.list_select_language ul {
    list-style: none outside none !important;
    margin: 0 !important; /* Safari and Chrome workaround */
    padding: 0;
}

div.list_select_language span.percent {
    background-color: #F0EBB9;
    border: 1px #B2B2B2 solid;
    color: #333333;
    font-size: 0.6em;
    font-style: italic;
    margin: 0 1em 0 1em;
    padding: 1px 4px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div.list_select_language li {
    list-style: none;
    padding: 0;
    text-align: left;
    max-width: 13em;
}

div.list_select_language li a {
    display: block;
    padding: 0.3em;
    line-height: 1.0em;
    border-bottom: 1px #dfd9f9 solid;
}

div.list_select_language li a:hover {
    background: #EEEEEE;
    text-decoration: none;
    color: black;
}

/*----------------------------------------------------
 * Main body
 *----------------------------------------------------*/

#global-container {
    min-height: 100%;
    position: relative;
}

#wrapper {
    max-width: 90%;
    min-width: 550px;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 10em; /* Height of the footer */
    width: 750px;
}

#mainbody {
    padding: 20px;
    border: 1px #D2D2D2 solid;
    background-color: #FFFFFF;
    margin-bottom: 2em;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.07);
    -moz-box-shadow: 0 0px 5px rgba(0,0,0,0.07);
    -webkit-box-shadow: 0 0px 5px rgba(0,0,0,0.07);
}

/*----------------------------------------------------
 * Headers (blue part + navigation bar)
 *----------------------------------------------------*/

#header {
    padding-bottom: 1em;
}

#header_picture_homepage {
    background: url(/images/header-ltr.jpg) top left no-repeat;
    margin-top: 0px;
    height: 130px;
    position: relative;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#header_picture {
    background: #ffffff url(/images/header-ltr.jpg) top left no-repeat;
    margin-top: 0px;
    padding: 8px 0;
    height: 50px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#header_picture_homepage h1 {
    font-size: 2.8em;
    color: #ffffff;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0px;
    left: 15px;
    text-shadow: 0px 0px 5px #fff;
}

#header_picture h1 {
    color: #ffffff;
    text-decoration: none;
    padding: 4px 15px;
    outline: 0;
    text-align: left;
    text-shadow: 0px 0px 5px #fff;
}

#header_picture a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

/*----------------------------------------------------
 * Navigation bar
 *
 * The naviagtion bar style is based on the `GNOME Grass`
 * theme by Vinicius Depizzol for gnome.org.
 *----------------------------------------------------*/

#top_bar {
    background: #fff url(/images/menu_bar_bg.png) top repeat-x;
    padding: 8px 0;
    margin-top: 0px;
    font-size: 16px;
    line-height: normal;
    text-align: left;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#top_bar ul {
    list-style: none;
    margin: 0;
    padding: 0 5px;
}

#top_bar ul li {
    display: inline;
    margin: 0 5px 0 0;
}

#top_bar a {
    font-size: 1.0em;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    transition: background 100ms linear;
    text-shadow: 0 1px 0 #000;
}

#top_bar a:hover {
    background: rgba(100%, 100%, 100%, 0.2);
}

#top_bar a:focus {
    background: rgba(100%, 100%, 100%, 0.15);
}

#top_bar a:active, #top_bar li.current-menu-item a, #top_bar li.current-menu-subitem a {
    background: #203F57;
    -moz-box-shadow: inset 0 -1px 0 rgba(100%,100%,100%, 0.4), inset 0 1px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(100%,100%,100%, 0.4), inset 0 1px 3px rgba(0,0,0,0.4);
    box-shadow: inset 0 -1px 0 rgba(100%,100%,100%, 0.4), inset 0 1px 3px rgba(0,0,0,0.4);
}

#top_bar li.current-menu-subitem a {
    background: #2C5473;
}


/*----------------------------------------------------
 * Main contents
 *----------------------------------------------------*/

#maincontent { /* The actual (interesting!) text content, inside mainbody */
    margin-top: 3em;
    clear: none;
}

#maincontent img {
    clear: right;
    float: right;
    margin-left: 1em;
}

#intro_box {
    margin-top: 5em;
}

/*----------------------------------------------------
 * Subheader ("contents of chapter" box)
 * (only displays in level 2 pages)
 *----------------------------------------------------*/

#subheader {
    clear: right;
    float: right;
    font-size: 0.8em;
    margin: 3em 0 2em 1.5em;
    padding: 0.5em 1em 0.5em 1em;
    max-width: 220px;
    min-width: 150px;
}

#subheader .title {
    display: block;
    text-align: center;
    font-style: normal;
    margin-bottom: 0.8em;
    text-transform: capitalize;
}

#subheader .title a {
    background: none;
    text-decoration: none;
    color: black;
}

#subheader ul {
    list-style-type: none;
    list-style-image: none; /* IE bug */
    margin: 0; /* for IE */
    padding: 0; /* for Moz */
}

#subheader li {
    margin: 0.5em 0;
    text-align: left;
}

#subheader li a {
    color: #000080;
    display: block;
    padding: 0.2em 0.5em;
    background: none;
    outline: 0;
}

#subheader li a:hover {
    color: #000000;
    text-decoration: underline;
}

#subheader .wehere a {
    text-decoration: underline;
}

/*----------------------------------------------------
 * Styles for the main page.
 *----------------------------------------------------*/

.main_pic {
    margin: -20px 0 0 0;  /* Pixel margin because of IE bugs */
    clear: none;
}

#text {
    min-height: 185px; /* Higher than main_pic to avoid IE peekaboo bug */
}

#contentlist {
    padding: 0;
    margin: 0 2em;
    clear: both;
}

#contentlist a {
    display: block;
    padding: 0.8em 0.5em;
    margin: 0.5em 0;
    background: #f5f9ff;
    border: 1px #e0ecff solid;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: background 200ms linear;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
}

#contentlist a:hover {
    text-decoration: none;
    background: #ebf3ff;
    border: 1px #cde0ff solid;
}

#contentlist a img {
    clear: none;
    opacity: 0.8; /* Validates as CSS3 */
}

#contentlist a:hover img {
    opacity: 1;
}

#contentlist .title {
    display: block;
    color: #000080;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: normal;
}

#contentlist a .subtitle {
    color: black;
}

#contentlist a:hover span, #contentlist a:hover h2 {
    color: #000080;
}

/*----------------------------------------------------
 * Styles for the "Switch to Linux" pages.
 *----------------------------------------------------*/

.section {
    clear: both;
    border-top: 2px #ddddef solid;
    padding: 1em 0 3em 0;
}

div .note {
    margin-top: 1em;
    text-align: right;
}

/*----------------main content list----------------*/

.switch_to_linux #contentlist {
    padding: 0;
    margin: 0 0 3em 0;
}

.switch_to_linux #contentlist img {
    margin: 0;
    padding: 0;
}

.switch_to_linux #contentlist a {
    clear: both;
    display: block;
    padding: 1em;
    margin: 1em 0;
    height: 3.5em;
    min-height: 55px;
    background: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.switch_to_linux #contentlist a img {
    opacity: 0.85;
}

.switch_to_linux #contentlist a:hover img {
    opacity: 1;
}

.switch_to_linux #contentlist a:hover {
    text-decoration: none;
}

.switch_to_linux #contentlist a:hover span {
    color: #00c;
    text-decoration: underline;
    background: transparent; /* no dotting but no color either */
}

.switch_to_linux #contentlist a:hover .header_2 {
    text-decoration: none;
    color: #000080;
}

/*----------------color of boxes----------------*/

.switch_to_linux #contentlist .odd {
    background: #f5f9ff;
    border: 1px #e0ecff solid;
}

.switch_to_linux #contentlist .odd:hover {
    background: #ebf3ff;
    border: 1px #cde0ff solid;
}

.switch_to_linux #contentlist .even {
    background: #f3ffeb;
    border: 1px #e0f0dc solid;
}

.switch_to_linux #contentlist .even:hover {
    background: #e7ffd7;
    border: 1px #bcdeb2 solid;
}

/*----------------------------------------------------
 * Styles for "Choose a distribution" page.
 *----------------------------------------------------*/

.ubuntu, .gnewsense, .fedora, .trisquel {
    clear: both;
    padding: 1em;
    margin: 1em;
    background: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.ubuntu img, .gnewsense img, .fedora img, .trisquel img {
    margin-bottom: 0.5em;
}

.ubuntu {
    border: 1px #DD4814 solid;
}

.fedora {
    border: 1px #08517a solid;
}

.gnewsense {
    border: 1px #8f5902 solid;
}

.trisquel {
    border: 1px #004DB1 solid;
}

.ubuntu_title, .fedora_title, .gnewsense_title, .trisquel_title {
    font-family: 'Open Sans',Cantarell,'Droid Sans',Arial,sans-serif;
    padding-left: 20px;
    font-style: normal;
}

.ubuntu_title {
    color: #000000;
    background: url(/images/switch_to_linux/switch_to_linux.choose_a_distribution.ubuntu_icon.png) center left no-repeat;
}

.fedora_title {
    color: #0a57a4;
    background: url(/images/switch_to_linux/switch_to_linux.choose_a_distribution.fedora_icon.png) center left no-repeat;
}

.gnewsense_title {
    color: #563100;
    background: url(/images/switch_to_linux/switch_to_linux.choose_a_distribution.gnewsense_icon.png) center left no-repeat;
}

.trisquel_title {
    color: #000000;
    background: url(/images/switch_to_linux/switch_to_linux.choose_a_distribution.trisquel_icon.png) center left no-repeat;
}

.distro_screenshots {
    margin-top: 3em;
    text-align: center;
}

#maincontent .distro_screenshots img {
    float: none;
    margin: 0 1em 0.5em 0;
}

#maincontent .distro_screenshots a {
    background: none;
}

/*----------------------------------------------------
 * Styles for the "Try or install" page.
 *----------------------------------------------------*/

#mainbody a.get_it_button {
    background-color: #DFF0B6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EFF7DB), to(#D1EFAD));
    background-image: -moz-linear-gradient(#EFF7DB, #D1EFAD);
    background-image: -o-linear-gradient(#EFF7DB, #D1EFAD);
    background-image: linear-gradient(#EFF7DB, #D1EFAD);
    border: 1px #B1D18A solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    clear: both;
    color: black;
    display: block;
    float: right;
    margin-top: -1.8em;
    margin-left: 1em;
    margin-bottom: 0.5em;
    padding: 0.4em;
    text-shadow: 0 1px 0 #EFEFEF;
    white-space: nowrap;
    width: auto;
}

#mainbody a.get_it_button:hover {
    background-color: #CDE496;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CDE496), to(#A2DC5D));
    background-image: -moz-linear-gradient(#CDE496, #A2DC5D);
    background-image: -o-linear-gradient(#CDE496, #A2DC5D);
    background-image: linear-gradient(#CDE496, #A2DC5D);
    border: 1px #96C85A solid;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: black;
    text-decoration: none;
}

#mainbody a.get_it_button:active {
    background-color: #A2DC5D;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A2DC5D), to(#CDE496));
    background-image: -moz-linear-gradient(#A2DC5D, #CDE496);
    background-image: -o-linear-gradient(#A2DC5D, #CDE496);
    background-image: linear-gradient(#A2DC5D, #CDE496);
}

.go_download {
    background: url(/images/go_down.png) center left no-repeat;
    padding-left: 22px;
}

.order {
    background: url(/images/box.png) center left no-repeat;
    padding-left: 22px;
}

#mainbody .go_download a, #mainbody .order a {
    background: none;
}

.ubuntu_light, .fedora_light, .gnewsense_light, .trisquel_light {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    background: white;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.ubuntu_light {
    border: 1px #DD4814 solid;
}

.fedora_light {
    border: 1px #6c94c9 solid;
}

.gnewsense_light {
    border: 1px #c59292 solid;
}

.trisquel_light {
    border: 1px #004DB1 solid;
}

/*----------------------------------------------------
 * Styles for the "More" page.
 *----------------------------------------------------*/

.more_section { /*separating the 3 categories for external links */
    clear: both;
    border-top: 2px #ddddef solid;
    padding: 1em 0 3em 0;
}

.more_section a {
    background: none;
}

.button_link {
    float: none;
    text-align: center;
    width: 180px;
    margin: 0 auto 1em auto;
}

.button_link a img {
    opacity: 0.8;
}

.button_link a:hover img {
    opacity: 1;
}

.column1_2 {
    float: right;
    width: 45%;
    padding: 0 2%;
}

.column2_2 {
    width: 45%;
    padding: 0 2%;
}

/*-------------------- About box --------------------*/

#about_us {
    background: none repeat scroll 0 0 #EDF2FF;
    font-size: 0.95em;
    margin-top: 4.5em;
    padding: 1em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 0 #B3C7FF;
    -moz-box-shadow: 0 1px 0 #B3C7FF;
    -webkit-box-shadow: 0 1px 0 #B3C7FF;
}

#about_us h2 {
    font-size: 1.5em;
    margin: 0;
    font-style: italic;
}

#about_us img {
    float: right;
    margin: 0 0 1em 1em
}

/*-------------------- Links in About box --------------------*/

#about_us_more {
    text-align: center;
    width: 80%;
    margin: 1em auto;
    font-size: 0.8em;
}

#about_us_more li {
    display: inline;
}

#about_us_more ul {
    list-style-type: none;
    list-style-image: none; /* IE bug */
    margin: 0; /* for IE */
    padding: 0; /* for Moz */
}

#about_us_more li {
    margin: 1em 0;
    white-space: nowrap;
}

#about_us_more li a {
    color: #000080;
    padding: 0.2em 0.5em;
    background: none;
}

#about_us_more li a:hover {
    text-decoration: underline;
}

/*----------------------------------------------------
 * Page specific styles
 *----------------------------------------------------*/

.windows h2 {
    font-size: 1.6em;
}

.windows_sub h2 {
    font-size: 1.8em;
}

.what_about_source_code img {
    margin-top: 0.5em;
}

.stand_for_a_free_society h3 {
    color: #000080;
    font-size: 1.1em;
    font-weight: normal;
}

.linux li {
    margin-top: 0.4em !important;
}

.mfs h2 {
    text-indent: -1.5em;
    padding-left: 1.5em;
}

.mfs h3 {
    display: block;
    margin: 0.5em 0;
}

.mfs_answer {
    margin-bottom: 2em;
    padding-left: 1.5em;
}

.main_page {
    margin-top: 4em;
}

.main_page h1 {
    text-align: left;
}

.from_windows_to_linux ul {
    padding-left: 1.2em;
}

.from_windows_to_linux li {
    clear: right;  /*see #317*/
}

.from_windows_to_linux h2 {
    margin: 0.5em 0 1.5em 0;
    font-weight: normal;
    font-size: 2em;
    text-align: center;
}

.from_windows_to_linux h3 {
    display: block;
    margin-bottom: 0.2em;
    color: #000080;
    font-size: 1.2em;
}

.choose_a_distribution h2 {
    margin: 0 0 0.5em 0;
}

.try_or_install h2 {
    margin: 0.5em 0 1.5em 0;
    font-size: 1.8em;
}

.try_or_install h3 {
    display: block;
    font-size: 1.2em;
    margin: 1em 0 0.5em 0;
    color: #000080;
}

.try_or_install h4 {
    margin: 0 0 1.5em 0;
}

.more h2 {
    text-align: center;
    clear: both;
    margin: 0.5em 0 1.5em 0;
    font-weight: normal;
    font-size: 2em;
}

.more_section img {
    clear: none !important;
    float: none !important;
    display: block;
    margin: 0 !important;
}

.more_note {
    clear: both;
    margin-top: 2em;
    text-align: center;
}

.more_intro_box {
    text-align: center;
    margin-bottom: 2em
}

.credits h2 {
    font-size: 1.5em;
    font-weight: normal;
    padding-top: 1em;
    border-top: 1px #DFD9F9 solid;
}

/*----------------------------------------------------
 * "Read more" section on the "More details on restrictions" page.
 *----------------------------------------------------*/

.further_reading {
    font-size: 0.95em;
    margin-top: 4.5em;
    padding: 1em;
}

.further_reading a {
    background: none;
}

.further_reading h2 {
    font-weight: normal;
    color: #630000;
    margin-top: 0.2em;
    margin-bottom: 1em;
    font-size: 1.3em;
 }

.further_reading h3 {
    display: block;
    margin: 0.5em 0;
 }

.further_reading p {
    margin-top: 0.2em;
}

#left_column {
    width: 47%;
    float: left;
    border-right: 1px #D7B41A solid;
    padding-right: 1em;
    margin-right: 1em;
}

#right_column {
    margin-left: 49%;
}

/*----------------------------------------------------
 * "More in this section" section on the "Linux" page.
 *----------------------------------------------------*/

#read_more {
    text-align: left;
    margin-top: 2em;
    padding: 1em 0 1em 1em;
    border-top: 1px solid #e7e3f9;
    min-height: 12em;
}

.read_more_title {
    font-size: 0.9em;
    color: #630000;
}

#read_more ul {
    list-style: square;
    padding-left: 1em;
    margin: 0.8em 0 0.2em 0;
}

#read_more ul li {
    margin: 1em 0;
    padding: 0;
}

#read_more ul a {
    color: #000080;
    font-size: 1.1em;
    background: none;
}

/*----------------------------------------------------
 * Subheader foot ("contents of chapter" box at bottom)
 * (same html as #subheader, but different css)
 *----------------------------------------------------*/

#subheader_foot {
    clear: both;
    font-size: 0.75em;
    margin: 2em auto 0 auto;
    padding: 1em;
    text-align: center;
}

#subheader_foot .title a, #subheader_foot .title a:hover {
    color: black;
    text-decoration: none;
}

#subheader_foot ul {
    background: none repeat scroll 0 0 #D9E5EB;
    list-style-type: none;
    list-style-image: none; /* IE bug */
    height: 1.85em;
    padding: 0.2em;
    margin: 0.2em;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 0 #9DBBCB;
    -moz-box-shadow: 0 1px 0 #9DBBCB;
    -webkit-box-shadow: 0 1px 0 #9DBBCB;
}

#subheader_foot ul li {
    border-right: 1px solid #B3C7FF;
    display: inline-block;
    padding: 0 1em 0 0.5em;
    margin: 0 0.1em;
    white-space: nowrap;
}

#subheader_foot ul li a {
    display: inline-block;
    color: #000080;
    line-height: 1.8em;
}

#subheader_foot ul li:last-child {
    border-right: medium none;
}

#subheader_foot li a:hover {
    color: #043f58;
}

#subheader_foot .wehere a,
#subheader_foot .wehere a:hover {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}

/*----------------------------------------------------
 * Quotes (big introductory quote at start of page)
 * (only displays in Windows level 2 pages)
 * quote1, quote2 and quote3 are imbricated and style
 * the center quotes;
 * while floatquote1 and floatquote2 style the quotes
 * on right side of page
 *----------------------------------------------------*/

.quote {
    text-align: center;
    margin: 1em 3em;
    padding: 10px;
}

.quote1 {
    clear: both;
    width: 85%;
    margin: 1em auto;
    background: #ffffed url(/images/leftquote.png) top left no-repeat;
    color: #3a0000;
    border-top: 3px #f4f4da solid;
    border-bottom: 3px #f4f4da solid;
}

.quote2 {
    background: url(/images/rightquote.png) bottom right no-repeat;
}

.quote3 {
    padding: 0.5em 35px;
}

.quote1 strong {
    color: #3a0000;
}

.quote1 .source, .floatquote1 .source {
    display: block;
    color: black;
    font-size: 0.9em;
    margin-top: 0.6em;
    font-style: italic;
    text-align: right;
}

.quote1 .source a, .floatquote1 a {
    color: #3a0000;
    background: none;
}

.floatquote1 {
    float: right;
    width: 35%;
    margin-right: 0;
    margin-left: 1em;
    padding: 10px 5px;
    background: #ffffed url(/images/leftquote_light.png) top left no-repeat;
    color: #3a0000;
    border-top: 3px #f4f4da solid;
    border-bottom: 3px #f4f4da solid;
}

.floatquote2 {
    background: url(/images/rightquote_light.png) bottom right no-repeat;
}

/*----------------------------------------------------
 * "Next page:" banner at bottom of page
 * used only on switch_to_linux.* (level 2) pages
 *----------------------------------------------------*/

#bottom_next_page_banner {
    margin: 3em -0.8em -0.8em -0.8em;
    text-align: center;
}

#bottom_next_page_banner a .arrow {
    background: url(/images/arrow_right.png) center right no-repeat;
    padding-right: 50px;
}

/*----------------------------------------------------
 * "Link buttons" page.
 *----------------------------------------------------*/

.copycode {
    background-color: #F1F1F1;
    border: 1px solid #4D4D4D;
    color: black;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 0.7em;
    text-align: left;
    padding: 5px;

    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}

#link_buttons img {
    float: none;
    margin: 0 1em 0 0;
    padding-bottom: 5px;
    vertical-align: top;
}

.link_button {
    margin-bottom: 25px;
}

/*----------------------------------------------------
 * Conclusion boxes
 *----------------------------------------------------*/

.conclusion {
    font-size: 0.95em;
    margin-top: 5em;
    padding: 1em;
	}

.conclusion p {
    margin: 5px 0;
}

/*----------------------------------------------------
 * Previous, next and up navigation "buttons" occasionally displayed at top
 * and bottom of pages.
 *----------------------------------------------------*/

#switcher {
    margin: 3em 0 1em 0;
    padding-bottom: 1.5em;
}

/* ------------------------- General style --------------*/

#mainbody .post-it {
    background-color: #F6DF57;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F6DF57), to(#F9EDA6));
    background-image: -moz-linear-gradient(#F6DF57, #F9EDA6);
    background-image: -o-linear-gradient(#F6DF57, #F9EDA6);
    background-image: linear-gradient(#F6DF57, #F9EDA6);
    border: 1px #E6C813 solid;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

#mainbody a.button {
    background-color: #E2E4D7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#E2E4D7));
    background-image: -moz-linear-gradient(#F4F4F4, #E2E4D7);
    background-image: -o-linear-gradient(#F4F4F4, #E2E4D7);
    background-image: linear-gradient(#F4F4F4, #E2E4D7);
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: black;
    display: block;
    min-width: 13.5em;
    padding: 0.3em 0.5em;
    text-shadow: 0 1px 0 #EFEFEF;
    white-space: nowrap;
    width: auto;
}

#mainbody a.button:hover {
    background-color: #B7CFDC;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D9E5EB), to(#B7CFDC));
    background-image: -moz-linear-gradient(#D9E5EB, #B7CFDC);
    background-image: -o-linear-gradient(#D9E5EB, #B7CFDC);
    background-image: linear-gradient(#D9E5EB, #B7CFDC);
    border: 1px #9DBBCB solid;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: black;
    text-decoration: none;
}

#mainbody a.button:active {
    background-color: #D9E5EB;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B7CFDC), to(#D9E5EB));
    background-image: -moz-linear-gradient(#B7CFDC, #D9E5EB);
    background-image: -o-linear-gradient(#B7CFDC, #D9E5EB);
    background-image: linear-gradient(#B7CFDC, #D9E5EB);
}

.button_title {
    font-size: 1.11em;
}

/* ------------------------- Previous button --------------*/

#mainbody a.previousbutton {
    float: left;
    text-align: center;
}

.previous {
    background: url(/images/left.png) center left no-repeat; /* icons by Mark James - famfamfam.com */
    padding-left: 20px;
    font-size: 0.9em;
}

/* ------------------------- Next button --------------*/

#mainbody a.nextbutton {
    float: right;
    text-align: center;
}

.next {
    background: url(/images/right.png) center right no-repeat;
    padding-right: 20px;
    font-size: 0.9em;
}

/* ------------------------- Up button --------------*/

.upbutton_section {
    margin: 3em 0 0 0;
    height: 2em;
}

#mainbody a.upbutton {
    width: 17em;
    float: right;
    padding-left: 20px;
}

.up {
    background: url(/images/up.png) center left no-repeat;
    padding-left: 20px;
    font-size: 0.9em;
}

/*----------------------------------------------------
 * Style for the "read our article: XY" links in some Windows pages
 *----------------------------------------------------*/

.read_article {
    font-size: 0.9em;
    float: right;
    clear: right;
    margin: 0.8em 0 2em 0;
}

#mainbody .read_article a {
    color: #000;
    font-style: italic;
    background: #F5F5F5;
    padding: 0.4em 0.8em;
    line-height: 1.5em; /* special for IE*/
    border-bottom: 1px solid #999;
    text-shadow: 0 1px 0 #EFEFEF;
}

#mainbody .read_article a:hover {
    text-decoration: none;
    background: #D9E5EB;
    border-bottom: 1px solid #9DBBCB;
}

/*----------------------------------------------------
 * Linux FAQ
 *----------------------------------------------------*/

#faq_content {
    font-size: 0.9em;
    padding-left: 0.5em;
}

#faq_content ul {
    margin: 0 0 1em 0;
    padding-left: 1em;
    list-style-image: none;
    list-style-type: none;
}

#faq_content li {
    margin-top: 0.4em;
    padding-left: 0; /*for IE*/
    margin-left: 0; /*for moz*/
}

#maincontent #faq_content li a, #maincontent #faq_content li a:hover {
    padding-left: 16px;
}


.back_to_top {
    float: right;
    font-size: 0.6em;
    margin-right: -3px;
}

#maincontent .back_to_top a {
    padding: 1px 3px 2px 16px;
    background: white url(/images/bullet_arrow_up.png) no-repeat top left;
    border: 1px white solid;
}

#maincontent .back_to_top a:hover {
    border: 1px #000080 solid;
    text-decoration: none;
}

.qa_series { /*Set of questions*/
    margin-top: 2em;
}

.question  { /*Question, is also h3*/
    font-size: 1.2em;
    margin: 2em 0 0.8em 0;
    display: block;
    font-weight: normal;
    color: #000080;
}

.question_sub {
    color: #000080;
}

.answer {
    margin-top: 0.8em;
    margin-bottom: 4em;
    /*padding-left: 1em;
    border-left: 3px #E5E5E5 solid;*/
}

.read_more {
    margin-left: 60%;
    font-size: 0.9em;
}

#more_q {
    margin-top: 3em;
}

/*----------------------------------------------------
 * "Read and view more" box on "How to Misunderstand Free Software" page.
 *----------------------------------------------------*/

#morebox {
    width: 60%;
    margin: 1em auto;
    font-size: 0.8em;
    border: 1px #DFD9F9 solid;
    padding: 0.5em;
}

#morebox ul {
    list-style-type: none;
    list-style-image: none; /* IE bug */
    margin: 0; /* for IE */
    padding: 0; /* for Moz */
}

#morebox li {
    margin: 0.5em 0;
    white-space: nowrap;
}

#morebox li a {
    padding: 0.2em 0.5em;
    background: none;
}

/*----------------------------------------------------
 * "Read more" box on "How to Misunderstand Free Software" page.
 *----------------------------------------------------*/

#collapsed_box {
    font-size: 0.95em;
    margin-top: 3em;
    padding: 2em;
}

#collapsed_box h2 {
    margin-top: 0;
    text-indent: 0;
    padding-left: 20px;
    background: url(/images/plus.png) center left no-repeat;
}

/*----------------------------------------------------
 * "Screenshots" page.
 *----------------------------------------------------*/

.screenshots h2 {
    text-align: center;
}

.screenshots .screenshots-section {
    display: block;
    margin: 1em 0 1em;
    padding: 0.5em;
    overflow: hidden;
}

.screenshots .screenshots-section .text {
    float: left;
    width: 400px;
}

.screenshots .screenshots-section.image-left .image {
    float: left;
    margin-right: 1em;
    margin-left: 0;
    width: 230px;
}

.screenshot .screenshots-section.image-right .image {
    float: right;
    margin-right: 0;
    margin-left: 1em;
    width: 230px;
}

/*----------------------------------------------------
 * "Credits" page.
 *----------------------------------------------------*/

.tab {
    padding-left: 2em;
}

.img_box {
    border: 1px #e0a668 solid;
    padding: 10px;
    margin-top: 0.8em;
}

#maincontent .img_box img {
    float: none;
    display: inline;
}

#maincontent .img_box a {
    background: none;
}

.credits ul {
    padding: 0 0 0 2em;
    margin: 0;
    text-align: left;
}

.credits ul li {
    margin: 0.2em 0;
    padding: 0;
}

/*----------------------------------------------------
 * Footer (we're almost done!)
 *----------------------------------------------------*/

#footer {
    background: url(/images/footer_bg.png) repeat-x scroll 0 0 #F0F0F0;
    border-top: 1px #DFD9F9 solid;
    bottom: 0;
    height: 10em; /* Height of the footer */
    margin-bottom: 0;
    position: absolute;
    width: 100%;
}

#footer-container {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    padding: 15px 0;
    width: 750px;
}

.footer-block {
    display: inline;
    float: left;
    margin-right: 2em;
    width: 110px;
}

.footer-block:last-child {
    width: 330px; /* Also results in automatic line breaks for paragraphs */
    margin: 0;
}

/* For IE */
.footer-block-last-child {
    width: 330px; /* Also results in automatic line breaks for paragraphs */
    margin: 0;
}

div.footer-block p {
    font-size: 0.9em;
    color: #696969;
}

.footer-block h1 {
    font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
    color: #5A5A5A;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

.footer-block h1 a:link,
.footer-block h1 a:visited {
    color: #5A5A5A;
}

#footer ul {
    font-size: 0.85em;
    font-style: normal;
    text-align: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#footer li {
    display: block;
    margin: 0;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
