/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*----------------------------------------------------
 * General styles
 *----------------------------------------------------*/

html, footer {
    background-color: #545454;
}

body {
    background: url("/images/cream_dust.png") repeat scroll 0 0 transparent;
    background-color: #F8F8F8;
    color: #3C4043;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    height: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: 300;
    margin-bottom: 1em;
    text-align: start;
}

h1 a,
h1 a:hover,
h1 a:visited,
h2 a,
h2 a:hover,
h2 a:visited {
    color: #333333;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

h2 {
    border-top: 1px solid #EDECE4;
    font-size: 2.5em;
    margin-bottom: 0.45rem;
    margin-top: 0.8em;
    padding-top: 0.8em;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
}

hr {
    border-color: #CCCCCC;
    border-right: 0 solid #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
}

section {
    padding: 1rem 0;
}

img, embed, object, video {
    max-width: 100%;
    height: auto;
}

::-webkit-selection {
  background: #009ACD;
  color: #FFFFFF;
}

::-moz-selection {
  background: #009ACD;
  color: #FFFFFF;
}

::selection {
  background: #009ACD;
  color: #FFFFFF;
}

a {
    color: #2A5886;
    text-decoration: none;
}

a:hover {
    color: #0000CC;
    text-decoration: underline;
}

a:active {
    color: red;
}

a:visited {
    color: #2351B9;
}

a img {
    border: none;
}

abbr {
    letter-spacing: 0.05em;
}

ul {
    margin-bottom: 2em;
}

li {
    margin: 0 0 1em 0;
}

/*----------------------------------------------------
 * Navigation menu
 *----------------------------------------------------*/

#navbar {
    background-color: #F0D8B2;
    font-size: 16px;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0 5px;
}

#navbar ul li {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 5px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-transition: background 300ms ease;
    -moz-transition: background 300ms ease;
    transition: background 300ms ease;
}

#navbar a {
    font-size: 1.0em;
    line-height: 2em;
    padding: 9px;
    text-decoration: none;
}

#navbar a,
#navbar a:hover,
#navbar a:visited {
    color: #333333;
}

#navbar li:hover,
#navbar li.active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

/*----------------------------------------------------
 * Navigation: Chapters list
 *----------------------------------------------------*/

nav.chapters {
    margin: 0 auto;
    text-align: center;
}

nav.chapters .title a {
    color: #3C4043;
    display: inline-block;
    line-height: 2em;
    margin: 0.5em;
}

nav.chapters ul {
    background-color: #EEECE9;
    list-style: none outside none;
    margin: 0;
    padding: 0.4em 0;
}

nav.chapters ul li {
    display: inline-block;
    margin: 0;
    padding: 0 1em;
    white-space: nowrap;
}

nav.chapters ul li a,
nav.chapters ul li a:visited {
    color: #3C4043;
    display: inline-block;
    line-height: 1.8em;
}

nav.chapters .active a,
nav.chapters .active a:hover {
    color: #666666 !important;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}

nav.chapters ul li:last-child {
    border-right: medium none;
}

nav.chapters li a:hover {
    color: #043f58;
}

/*----------------------------------------------------
 * Main content
 *----------------------------------------------------*/

.maxwidth {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 2em;
}

.page-intro {
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 650px;
    padding-bottom: 0.5em;
    text-align: center;
}

.bg-even {
    background-color: #EEECE9;
}

.no-padding {
    padding: 0;
}

.button-section h1 {
    font-weight: 300;
}

.highlight {
    background-color: #E4EFC7;
    display: block;
    padding: 0.4em;
}

.note {
    font-size: 0.95em;
}

div.note {
    margin-top: 1em;
    text-align: right;
}

.italic {
    font-style: italic;
}

.centered {
    text-align: center;
}

.footnotes {
    border-top: 1px solid #EDECE4;
    font-size: 85%;
    margin-top: 3em;
}

.paragraph {
    margin-bottom: 4em;
}

.small_list ul {
    margin-bottom: 1em;
}

.small_list li {
    margin: 0.1em 0 0 1.2em;
    padding: 0;
}

.screenshots img {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*----------------------------------------------------
 * Font Awesome stuff
 *----------------------------------------------------*/

.fa-li {
    top: 0.3em !important;
}

/*----------------------------------------------------
 * Flexslider: General
 *----------------------------------------------------*/

.flexslider {
    position: relative;
}

/* Navigation icons bug workaround */
.flex-direction-nav a  {
    line-height: 40px;
}

/* Get rid of the white space below the slider */
.flexslider li {
    margin-bottom: 0;
}

/*----------------------------------------------------
 * Flexslider: Front Page
 *----------------------------------------------------*/

/* Make sure the navigation arrows don't overflow the page */
.flexslider.home {
    overflow: hidden;
}

/* Put the navigation bullets on the slide */
.flexslider.home .flex-control-nav {
    bottom: 5px;
    z-index: 2;
}

/*----------------------------------------------------
 * Flexslider: Screenshots
 *----------------------------------------------------*/

/* Override some default values */
.flexslider.screenshots {
    margin-bottom: 3em;
}

/* Put the navigation bullets on the slide */
.flexslider.screenshots .flex-control-nav {
    bottom: 5px;
    z-index: 2;
}

/* Captions */
.flexslider.screenshots .flex-caption {
    background-color: #EEECE9;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 1%;
    position: absolute;
    text-align: center;
    width: 98%;
}

/* Add space between slider and caption */
.flexslider.screenshots .slides img {
    margin-bottom: 10px;
}

/*----------------------------------------------------
 * Flexslider: Front Page Slides
 *----------------------------------------------------*/

.fp-slide {
    color: #FFFFFF;
    min-height: 460px;
    padding: 0.1em;
    position: relative;
}
.fp-slide h1 {
    color: #FFFFFF;
}

.fp-slide .slide-text {
    font-size: 1.3rem;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 1em 1em 1em;
    text-align: center;
}

.slide-ggl {
    background-color: #49B7E8;
    background-image: url("/images/slides/GNU_Tux.svg");
    background-position: center top;
    background-repeat: no-repeat;
}
.no-svg .slide-ggl {
  background-image: url("/images/slides/GNU_Tux.png");
}
.slide-ggl h1 {
    font-family: Palatino,"Palatino Linotype",Georgia,"Book Antiqua",Times,"Times New Roman",serif;
    font-weight: normal;
    margin: 150px 0 0;
    text-shadow: 0px 0px 5px #fff;
}

.slide-linux {
    background-color: #49B7E8;
    background-image: url("/images/slides/Help.svg");
    background-position: center top;
    background-repeat: no-repeat;
}
.no-svg .slide-linux {
  background-image: url("/images/slides/Help.png");
}
.slide-linux h1 {
    font-weight: 300;
    margin: 150px 0 0;
}

.slide-windows {
    background-color: #49B7E8;
    background-image: url("/images/slides/Warning.svg");
    background-position: center top;
    background-repeat: no-repeat;
}
.no-svg .slide-windows {
  background-image: url("/images/slides/Warning.png");
}
.slide-windows h1 {
    font-weight: 300;
    margin: 150px 0 0;
}

.slide-switch {
    background-color: #49B7E8;
    background-image: url("/images/slides/Disc.svg");
    background-position: center top;
    background-repeat: no-repeat;
}
.no-svg .slide-switch {
  background-image: url("/images/slides/Disc.png");
}
.slide-switch h1 {
    font-weight: 300;
    margin: 150px 0 0;
}

/*----------------------------------------------------
 * Alert boxes
 *----------------------------------------------------*/

.alertbox {
    background-color: #6B0006;
    color: #FFFFFF;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
.alertbox a,
.alertbox a:visited,
.alertbox a:hover {
    color: #FFFFFF;
    border-bottom: 1px dotted;
    text-decoration: none;
}

.alertbox > p {
    display: inline-block;
    margin: 0.5em
}

.alertbox .close {
    cursor: pointer;
    display: inline-block;
    margin: 0.5em 1em;
    opacity: 0.5;
}
.alertbox .close:hover {
    opacity: 1;
}

/*----------------------------------------------------
 * Main contents
 *----------------------------------------------------*/

.float-right {
    clear: right;
    float: right;
    margin: 0 0 2em 2em !important;
}

.toggle-answer h2 {
    cursor: pointer;
}
.toggle-answer .answer {
    display: none;
    margin-bottom: 2em;
    padding-left: 2.2em;
}

.read-more-box {
    border-top: 1px dashed #EDECE4;
    margin-top: 2em;
    padding: 1em 0 1em 1em;
}

.conclusion {
    background: none repeat scroll 0 0 #E4EFC7;
    border-top: 2px dashed #CEDFA1;
    border-bottom: 2px dashed #CEDFA1;
    margin: 2em 0;
    padding: 1em;
}

.collapsed-box {
    font-size: 0.95em;
    margin-top: 3em;
    padding: 2em;
}
.collapsed-box h1 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 0.5em;
    text-align: start;
}
.collapsed-box h2 {
    border: medium none;
    font-size: 1.4em;
    margin-top: 0;
    padding: 0;
}
.collapsed-box h3 {
    font-size: 1.5em;
    margin: 0;
}

.post-it {
    background-color: #F9EDA6;
    border: 1px #E6C813 solid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

img.width20p {
    height: auto;
    width: 20%;
}

/*----------------------------------------------------
 * Fancy Buttons
 *----------------------------------------------------*/

div.button {
    margin: 40px 0;
}

div.button.wide {
    min-width: 13.5em;
}

.button a {
    background-color: #E2E4D7;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    padding: 0.7em 1em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.30);
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    transition: background 100ms linear;
    white-space: nowrap;
    width: auto;
}
.button a:hover,
.button a:active {
    background-color: #B7CFDC;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-decoration: none;
}

.button.green a {
    background-color: #8DB90A;
}
.button.green a:hover,
.button.green a:active {
    background-color: #96C017;
}

.button.orange a {
    background-color: #D66E4B;
}
.button.orange a:hover,
.button.orange a:active {
    background-color: #DC7654;
}

.button.blue a {
    background-color: #2785C6;
}
.button.blue a:hover,
.button.blue a:active {
    background-color: #358FCD;
}

/*----------------------------------------------------
 * Styles for "Choose a distribution" page.
 *----------------------------------------------------*/

section.ubuntu {
    border-top: medium solid #DD4814;
}

section.fedora {
    border-top: medium solid #08517A;
}

section.gnewsense {
    border-top: medium solid #8F5902;
}

section.trisquel {
    border-top: medium solid #004DB1;
}

.distro_screenshots {
    margin-top: 3em;
    text-align: center;
}

.distro_screenshots img {
    float: none;
    margin: 0 1em 0.5em 0;
}

.distro_screenshots a {
    background: none;
}

/*----------------------------------------------------
 * Styles for the "Try or install" page.
 *----------------------------------------------------*/

.download-box {
    margin: 2em 0;
    padding: 0.5em;
}

.download-box > img {
    float: left;
    height: auto;
    margin: 0 1em 1em 0;
    min-width: 80px;
    width: 11%;
}

.download-box .content {
    margin: 0 1em 1em 12%;
    min-height: 60px;
}

.download-box .content p {
    margin: 0;
}

.download-box .button {
    float: left;
    margin: 35px 1em 0 0;
}

/*----------------------------------------------------
 * Styles for the "More" page.
 *----------------------------------------------------*/

.more-section {
    padding: 1em 0 3em 0;
}

.more-section h2 {
    text-align: center;
    clear: both;
    margin: 0.5em 0 1.5em 0;
}

.more-section img {
    display: block;
    margin: 0 auto;
}

.more-section .column {
    float: left;
    width: 43%;
    padding: 0 3%;
}

.more-section .column div a img {
    opacity: 0.8;
}
.more-section .column div a:hover img {
    opacity: 1;
}

.credits h2 {
    font-size: 1.5em;
    font-weight: normal;
    padding-top: 1em;
    border-top: 1px #DFD9F9 solid;
}

/*-------------------- About box --------------------*/

#about-us-box {
    background: none repeat scroll 0 0 #E4EFC7;
    border-top: 2px dashed #CEDFA1;
    border-bottom: 2px dashed #CEDFA1;
    font-family: Palatino,"Palatino Linotype",Georgia,"Book Antiqua",Times,"Times New Roman",serif;
    font-style: italic;
    margin: 4em 0;
    padding: 1em;
}

#about-us-box h1 {
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
}

#about-us-box p {
    font-size: 1.2em;
}

/*----------------------------------------------------
 * "Read more" section on the "Stand for a Free Society" page.
 *----------------------------------------------------*/

.further-reading {
    font-size: 0.95em;
    margin-top: 4.5em;
    padding: 1em;
}

.further-reading h2 {
    border: medium none;
    margin: 0 0 0.5em;
    padding: 0;
}

.further-reading h3 {
    display: block;
    font-size: 1.4em;
    margin: 0 0 0.5em;
}

.left-column {
    width: 47%;
    float: left;
    border-right: 1px #D7B41A solid;
    padding-right: 1em;
    margin-right: 1em;
}

/*----------------------------------------------------
 * Quotes
 *----------------------------------------------------*/

.quote {
    background-color: #FFFFED;
    border-bottom: 2px dashed #EAEAD2;
    border-top: 2px dashed #EAEAD2;
    margin: 1em auto;
    padding: 0.5em 2em;
    width: 85%;
}

.quote p {
    font-style: italic;
}

.quote .source {
    display: block;
    font-size: 0.9em;
    margin-top: 0.6em;
    text-align: end;
}

.quote.small {
    margin: 0;
    padding: 0.5em 1em;
    width: 35%;
}

.quote.image {
    width: auto;
}

/*----------------------------------------------------
 * "Link buttons" page.
 *----------------------------------------------------*/

.copycode {
    background-color: #F1F1F1;
    border: 1px solid #4D4D4D;
    color: black;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
    font-size: 0.7em;
    text-align: left;
    padding: 5px;

    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
}

#link_buttons img {
    float: none;
    margin: 0 1em 0 0;
    padding-bottom: 5px;
    vertical-align: top;
}

.link_button {
    margin-bottom: 25px;
}

/*----------------------------------------------------
 * Linux FAQ
 *----------------------------------------------------*/

#faq #content ul {
    list-style-type: none;
}

#faq h4 {
    margin-top: 0;
}

#faq .answer {
    margin-bottom: 4em;
}

#faq .read_more {
    margin-left: 60%;
    font-size: 0.9em;
}

#faq .read_more li {
    margin: 0;
}

/*----------------------------------------------------
 * Language menu
 *----------------------------------------------------*/

#translations ul {
    padding-left: 0;
    list-style: none;
}

#translations li {
    display: inline-block;
    padding-left: 0;
    padding-right: 10px;
}

#translations li a {
    line-height: 1.0em;
}

#translations .active a {
    font-weight: bold;
}

#translations #incomplete {
    display: none;
}

/*----------------------------------------------------
 * Footer
 *----------------------------------------------------*/

footer {
    color: #CCCCCC;
    margin-bottom: 0;
    width: 100%;
}

footer a,
footer a:hover,
footer a:visited {
    color: #EEECE9;
}

footer h1 {
    color: #CCCCCC;
}

footer hr {
    border-color: rgba(255,255,255,0.1);
}

footer #container {
    font-size: 0.9em;
    padding: 2em;
}

footer .block h1 {
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 12px;
    margin: 1em 0 10px;
    padding-bottom: 3px;
    text-align: start;
}

footer ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

footer li {
    display: block;
    margin: 2px 0;
}

footer .block ul {
    list-style: none outside none;
    margin: 0.5em 0;
    padding: 0;
}

footer .block li {
    display: inline-block;
    margin: 0 1em 0 0;
}

footer a.more {
    background-color: rgba(255,255,255,0.1);
    padding: 0 8px;
}

footer a.more:hover {
    background-color: rgba(255,255,255,0.2);
    text-decoration: none;
}

footer .notices {
    text-align: center;
}

footer .icons li {
    display: inline-block;
    margin: 0 0.5em 0 0;
}
footer .icons a,
footer .icons a:visited {
    color: #6B6B6B;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    transition: color 300ms ease;
}
footer .icons a:hover {
    color: #B7B7B7;
}

/*----------------------------------------------------
 * Move to top button
 *----------------------------------------------------*/

#to-top {
    border: medium none;
    bottom: 0.7em;
    display: none;
    overflow: hidden;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 100;
}
a#to-top,
a:hover#to-top,
a:visited#to-top {
    color: rgba(186, 180, 171, 0.8);
}

#to-top-hover {
    display: block;
    float: left;
    overflow: hidden;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
