/*----------------------------------------------------
 * Main contents
 *----------------------------------------------------*/

.float-right {
    clear: left;
    float: left;
    margin-left: 0;
    margin-right: 1em;
}

#maincontent #faq_content li a,
#maincontent #faq_content li a:hover {
    padding-right: 16px;
}

/*----------------------------------------------------
 * Sliders
 *----------------------------------------------------*/

.flex-viewport {
    direction: ltr;
}

.flexslider .slides > li {
    direction: rtl;
    text-align: right;
}

/*----------------------------------------------------
 * Subheader ("contents of chapter" box)
 * (only displays in level 2 pages)
 *----------------------------------------------------*/

#subheader {
    clear: left;
    float: left;
    margin: 3em 1.5em 2em 0;
}

#subheader li a {
    text-align: right;
}

/*----------------------------------------------------
 * Subheader foot ("contents of chapter" box at bottom)
 * (same html as #subheader, but different css)
 *----------------------------------------------------*/

#subheader_foot ul li {
    border-left: 1px solid #B3C7FF;
    border-right: none;
    padding: 0 0.5em 0 1em;
}

#subheader_foot ul li:last-child {
    border-left: medium none;
}

.floatquote1 {
    float: left;
    margin-left: 0;
    margin-right: 1em;
}

.quote .source {
    text-align: left;
}

/*----------------------------------------------------
 * Page specific styles
 *----------------------------------------------------*/

.mfs h2 {
    padding-left: 0;
    padding-right: 1.5em;
}

/*----------------------------------------------------
 * Styles for "Choose a distribution" page.
 *----------------------------------------------------*/


/*----------------------------------------------------
 * Styles for the "Try or install" page.
 *----------------------------------------------------*/


/*----------------------------------------------------
 * "Read more" box on "How to Misunderstand Free Software" page.
 *----------------------------------------------------*/

#collapsed_box h1 {
    text-align: right;
}

/*----------------------------------------------------
 * Previous, next and up navigation "buttons" occasionally displayed at top
 * and bottom of pages.
 *----------------------------------------------------*/

/* ------------------------- Previous button --------------*/

a.previousbutton {
    float: right;
}

.previous {
    background: url("/images/right.png") no-repeat scroll right center transparent;
    padding-right: 20px;
}

/* ------------------------- Next button --------------*/

a.nextbutton {
    float: left;
}

.next {
    background: url("/images/left.png") no-repeat scroll left center transparent;
    padding-left: 20px;
}

/* ------------------------- Up button --------------*/

a.upbutton {
    float: left;
    padding-right: 20px;
}

/*----------------------------------------------------
 * "Next page:" banner at bottom of page
 * used only on switch_to_linux.* (level 2) pages
 *----------------------------------------------------*/

#bottom_next_page_banner a .arrow {
    background: url(/images/arrow_left.png) no-repeat scroll left center transparent;
    padding-left: 50px;
    padding-right: 0;
}

/*----------------------------------------------------
 * Style for the "read our article: XY" links in some Windows pages
 *----------------------------------------------------*/

.read_article {
    clear: left;
    float: left;
}

.column1_2 {
    float: left;
}

/*----------------------------------------------------
 * "Link buttons" page.
 *----------------------------------------------------*/

.copycode {
    text-align: right;
}

#link_buttons img {
    float: none;
    margin: 0 0 0 1em;
}

/*----------------------------------------------------
 * Translations
 *----------------------------------------------------*/

#translations ul {
    margin: -1px 0;
}

#translations li {
    padding-left: 10px;
    padding-right: 0;
    text-align: right;
}

/*----------------------------------------------------
 * Footer
 *----------------------------------------------------*/

.footer-note {
    text-align: right;
}

.footer-block {
    float: right;
    margin-left: 2em;
    margin-right: 0;
}

.footer-block h1 {
    text-align: right;
}

footer ul {
    text-align: right;
}


/*----------------------------------------------------
 * Workarounds
 *----------------------------------------------------*/

/* AddThis widget: get rid of the horizontal scrollbar */
.at_a11y {
    left: auto !important;
}
