#maincontent ul {
		padding-left: 1.2em;
	}

#maincontent li {
		clear: left;  /*see #317*/
	}

h2 {
		margin: 0.5em 0 1.5em 0;
		font-weight: normal;
		font-size: 2em;
		text-align: center;
	}

h3 {
		display: block;
		margin-bottom: 0.2em;
		color: #000080;
		font-size: 1.2em;
	}

.section {
		clear: both;
		border-top: 2px #ddddef solid;
		padding: 1em 0 3em 0;
	}

div .note {
		margin-top: 1em;
		text-align: right;
	}

.quote {
		text-align: center;
		border: 1px #d8e5e5 solid;
		-moz-border-radius: 3px;
		margin: 1em 3em;
		background: white;
	}