/* Materialize variables */

$small-screen: 575px;
$small-screen-up: 576px;
$medium-screen: 887px;
$medium-screen-up: 888px;
$large-screen: 1060px;
$large-screen-up: 1061px;
$primary-color: color("light-green", "darken-4");
$secondary-color: color("light-green", "darken-4");
$shade-lighten-4: color("blue-grey", "lighten-4");
$highlight-darken-4: color("light-green", "darken-4");
$highlight-darken-3: color("light-green", "darken-3");
$highlight-lighten-4: color("light-green", "lighten-4");
$highlight-lighten-3: color("light-green", "lighten-3");
$highlight-lighten-2: color("light-green", "lighten-2");
$button-raised-background: $secondary-color;
$button-radius: 4px;
$sidenav-width: 300px;
$sidenav-bg-color: $primary-color;
$sidenav-font-color: #FFF;
$sidenav-padding: 5px;
