$medium-screen: 600px;
$large-screen: 900px;

$container-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$xs-breakpoint: map-get($container-breakpoints, 'xs');
$sm-breakpoint: map-get($container-breakpoints, 'sm');
$md-breakpoint: map-get($container-breakpoints, 'md');
$lg-breakpoint: map-get($container-breakpoints, 'lg');
$xl-breakpoint: map-get($container-breakpoints, 'xl');

$container-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$container-gutter: 30px;
$section-gutter: 2em;
$footer-gutter: 4em;

$color-light-green: #E4EFC7;
$color-light-green-2: #CEDFA1;
