$font-stack: "Open Sans", sans-serif;
$primary-color: #3C4043;
$primary-background-color: #40526b;
$background-color: #F8F8F8;
$background-image: "/images/cream_dust.png";
$header-color: #333333;
$link-color: #0070BB;
$link-visited-color: #4672A1;
$link-hover-color: #25A2E3;
$link-active-color: #C44514;
$border-top-color: #EDECE4;
$ggl-font-stack: Palatino, "Palatino Linotype", Georgia, "Book Antiqua", Times, "Times New Roman", serif;
$green-section-background: #E4EFC7;
$green-section-border: #CEDFA1;
$white: #EEECE9;

$light-color: $white;
$light-color-dimmed: transparentize($white, 0.3);

$navigation-base-font-color: $white;

$container-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$xs-breakpoint: map-get($container-breakpoints, 'xs');
$sm-breakpoint: map-get($container-breakpoints, 'sm');
$md-breakpoint: map-get($container-breakpoints, 'md');
$lg-breakpoint: map-get($container-breakpoints, 'lg');
$xl-breakpoint: map-get($container-breakpoints, 'xl');

$container-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$container-gutter: 30px;
$section-gutter: 2em;
$footer-gutter: 4em;

$screenshots-display: (
  xs: none,
  sm: none,
  md: block,
  lg: block,
  xl: block
);
