/* Bourbon */

$medium-screen: 600px;
$large-screen: 900px;

$container-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$xs-breakpoint: map-get($container-breakpoints, 'xs');
$sm-breakpoint: map-get($container-breakpoints, 'sm');
$md-breakpoint: map-get($container-breakpoints, 'md');
$lg-breakpoint: map-get($container-breakpoints, 'lg');
$xl-breakpoint: map-get($container-breakpoints, 'xl');

$container-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$container-gutter: 30px;
$section-gutter: 2em;
$footer-gutter: 4em;

/* Materialize */

$small-screen:    575px;
$small-screen-up: 576px;
$medium-screen:    767px;
$medium-screen-up: 768px;
$large-screen:    960px;
$large-screen-up: 961px;
$font-stack: "Open Sans", sans-serif;
$primary-color: color("light-green", "darken-4");
$secondary-color: color("light-green", "darken-4");
$shade-lighten-4: color("blue-grey", "lighten-4");
$highlight-darken-4: color("light-green", "darken-4");
$highlight-darken-3: color("light-green", "darken-3");
$highlight-lighten-4: color("light-green", "lighten-4");
$highlight-lighten-3: color("light-green", "lighten-3");
$highlight-lighten-2: color("light-green", "lighten-2");
$button-raised-background: $secondary-color;
$button-radius: 4px;
$sidenav-width: 300px;
$sidenav-bg-color: $primary-color;
$sidenav-font-color: #FFFFFF;
$sidenav-padding: 5px;
