/* Overrides for right-to-left languages */

a[rel~="external"]:after {
    padding-left: auto;
    padding-right: 3px;
}

ul:not(.browser-default) {
    padding-right: 0 !important;
    list-style-type: none;
}

blockquote {
    margin: 20px 0;
    padding-left: auto;
    padding-right: 1.5rem;
    border-left: none;
    border-right: 5px solid #33691e;
}
