@import 'normalize';
@import 'bourbon';
@import 'base/base';
@import 'neat';
@import 'h5bp_header';

/*----------------------------------------------------
 * General styles
 *----------------------------------------------------*/

body {
  background: url("/images/cream_dust.png") repeat scroll 0 0 transparent;
}

h1, h2, h3, h4, h5, h6 {
  text-align: start;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
}

h2 {
  border-top: 1px solid $light-gray-3;
  font-size: 2.5em;
  margin-top: 0.8em;
  padding-top: 0.8em;
}

h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

h4 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
}

hr {
  height: 0;
}

article header {
  padding: 1rem 0;
}

aside,
section {
  padding: 1rem 0;
}

details > summary {
  cursor: pointer;
  outline: none;
  text-align: start;
}

img, embed, object, video {
  max-width: 100%;
  height: auto;
}

::selection {
  background: #009ACD;
  color: #FFFFFF;
}

a {
  color: $blue-2;

  img {
    border: none;
  }
}

a:visited {
  color: $blue-3;
}

a:hover {
  color: $light-blue;
  text-decoration: underline;
}

a:active {
  color: $dark-orange;
}

/* External link styles */
a[rel~="external"]:after {
    content: "\f08e";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 80%;
    font-style: normal;
    font-weight: normal;
    padding-left: 3px;
    text-decoration: none;
}

abbr {
    letter-spacing: 0.05em;
}

/*----------------------------------------------------
 * Navigation menu
 *----------------------------------------------------*/

@import 'navigation';

/*----------------------------------------------------
 * Navigation: Chapters list
 *----------------------------------------------------*/

nav.chapters {
  margin: 0 auto;
  text-align: center;

  .title {
    a {
      color: #3C4043;
      display: inline-block;
      line-height: 2em;
      margin: 0.5em;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .active {
    a,
    a:hover {
      color: #666666 !important;
      text-decoration: none;
      font-weight: bold;
      text-shadow: 0 1px 0 #FFFFFF;
    }
  }

  ul {
    background-color: transparentize($light-gray, 0.6);
    list-style: none outside none;
    margin: 0;
    padding: 0.4em 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0 1em;
      white-space: nowrap;

      a,
      a:visited {
        color: #3C4043;
        display: inline-block;
        line-height: 1.8em;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/*----------------------------------------------------
 * Main content
 *----------------------------------------------------*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: ($container-gutter / 2);
  padding-right: ($container-gutter / 2);
  @include clearfix;

  @each $breakpoint, $width in $container-widths {
    $breakpoint-width: map-get($container-breakpoints, $breakpoint);
    @include media(min-width $breakpoint-width) {
      width: $width;
      max-width: 100%;
    }
  }
}

.hidden-xs {
  @include media(min-width $xs-breakpoint) {
    display: none;
  }
  @include media(min-width $sm-breakpoint) {
    display: block;
  }
}

.hidden-sm {
  @include media(min-width $xs-breakpoint) {
    display: none;
  }
  @include media(min-width $sm-breakpoint) {
    display: none;
  }
  @include media(min-width $md-breakpoint) {
    display: block;
  }
}

.page-intro {
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 650px;
  padding-bottom: 0.5em;
  text-align: center;
}

.bg-even {
  background-color: $light-gray;
}

.no-padding {
  padding: 0;
}

.button-section h1 {
  font-weight: 300;
}

.highlight {
  background-color: #E4EFC7;
  display: block;
  padding: 0.4em;
}

.note {
  font-size: 0.95em;
}

div.note {
  margin-top: 1em;
  text-align: right;
}

.italic {
  font-style: italic;
}

.centered {
  text-align: center;
}

.footnotes {
  border-top: 1px solid $light-gray-3;
  font-size: 85%;
  margin-top: 3em;
}

.paragraph {
  margin-bottom: 4em;
}

.screenshots img {
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
}

/*----------------------------------------------------
 * Font Awesome stuff
 *----------------------------------------------------*/

.fa-li {
  top: 0.3em !important;
}

/*----------------------------------------------------
 * Flexslider: General
 *----------------------------------------------------*/

.flexslider {
  position: relative;

  /* Get rid of the white space below the slider */
  li {
      margin-bottom: 0;
  }
}

/* Navigation icons bug workaround */
.flex-direction-nav a  {
    line-height: 40px;
}

/*----------------------------------------------------
 * Flexslider: Front Page
 *----------------------------------------------------*/

.flexslider.home {
  background-color: #49B7E8; /* to hide the white background glitch */
  overflow: hidden; /* otherwise the arrows will overflow the page */
  border: none;
  border-radius: 0;
  margin: 0;

  /* Put the navigation bullets on the slide */
  .flex-control-nav {
    bottom: 5px;
    z-index: 2;
  }
}

/*----------------------------------------------------
 * Flexslider: Screenshots
 *----------------------------------------------------*/

/* Override some default values */
.flexslider.screenshots {
  margin-bottom: 3em;

  /* Put the navigation bullets on the slide */
  .flex-control-nav {
      bottom: 5px;
      z-index: 2;
  }

  /* Captions */
  .flex-caption {
      background-color: $light-gray;
      @include border-top-radius(3px);
      @include border-bottom-radius(3px);
      font-size: 14px;
      line-height: 18px;
      margin: 0;
      padding: 1%;
      position: absolute;
      text-align: center;
      width: 100%;
  }

  /* Add space between slider and caption */
  .slides img {
      margin-bottom: 10px;
  }
}

/*----------------------------------------------------
 * Flexslider: Front Page Slides
 *----------------------------------------------------*/

.fp-slide {
  background-color: #49B7E8;
  color: #FFFFFF;
  padding: 0.1em;
  position: relative;
  text-align: center;

  h1 {
    color: #FFFFFF;
    font-weight: 300;
  }

  .slide-text {
    font-size: 1.3rem;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 1em 2em;
    text-align: center;
  }

  > img {
    display: inline !important;
    height: auto;
    margin-top: 1em;
  }

  &.ggl > img {
    min-width: 150px;
    width: 15% !important;
  }

  &.ggl h1 {
    font-family: $alternative-font-family;
    font-weight: normal;
    text-shadow: 0px 0px 5px #fff;
  }

  &.linux > img {
    min-width: 100px;
    width: 8% !important;
  }

  &.windows > img {
    min-width: 100px;
    width: 8% !important;
  }

  &.switch > img {
    min-width: 100px;
    width: 8% !important;
  }
}

/*----------------------------------------------------
 * Alert boxes
 *----------------------------------------------------*/

.alertbox {
  background-color: #6B0006;
  color: #FFFFFF;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;

  a, a:visited, a:hover {
    color: #FFFFFF;
    border-bottom: 1px dotted;
    text-decoration: none;
  }

  .close {
    cursor: pointer;
    display: inline-block;
    margin: 0.5em 1em;
    opacity: 0.5;
  }
  .close:hover {
    opacity: 1;
  }
}

.alertbox > p {
  display: inline-block;
  margin: 0.5em
}

/*----------------------------------------------------
 * Main contents
 *----------------------------------------------------*/

.float-right {
  clear: right;
  float: right;
  margin: 0 0 2em 2em !important;
}

.read-more-box {
  border-top: 1px dashed $light-gray-3;
  margin-top: 2em;
  padding: 1em 0 1em 1em;
}

.conclusion {
  background: none repeat scroll 0 0 $light-green;
  border-top: 2px dashed $light-green-2;
  border-bottom: 2px dashed $light-green-2;
  margin: 2em 0;
  padding-top: ($section-gutter / 2);
  padding-bottom: ($section-gutter / 2);
}

.post-it {
  background-color: #F9EDA6;
  border: 1px #E6C813 solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

img.width20p {
  height: auto;
  width: 20%;
}

/*----------------------------------------------------
 * Styles for "Choose a distribution" page.
 *----------------------------------------------------*/

section.ubuntu {
  border-top: medium solid #DD4814;
}

section.fedora {
  border-top: medium solid #08517A;
}

section.gnewsense {
  border-top: medium solid #8F5902;
}

section.trisquel {
  border-top: medium solid #004DB1;
}

.distro_screenshots {
  margin-top: 3em;
  text-align: center;
}

.distro_screenshots img {
  float: none;
  margin: 0 1em 0.5em 0;
}

.distro_screenshots a {
  background: none;
}

/*----------------------------------------------------
 * Styles for the "Try or install" page.
 *----------------------------------------------------*/

.download-box {
  @include outer-container;
  @include row();
  padding-top: 1em;
  padding-bottom: 1em;

  .download-box-logo {
    @include media($xs-breakpoint) {
      @include span-columns(4);
    }
    @include media($sm-breakpoint) {
      @include span-columns(3);
    }
    @include media($md-breakpoint) {
      @include span-columns(2);
    }
  }

  .download-box-content {
    @include media($xs-breakpoint) {
      @include span-columns(12);
    }
    @include media($sm-breakpoint) {
      @include span-columns(9);
    }
    @include media($md-breakpoint) {
      @include span-columns(10);
    }

    .download-box-buttons {
      @include clearfix;

      .button {
        float: left;
        margin-right: 1em;
      }
    }
  }
}

/*----------------------------------------------------
 * Styles for the "More" page.
 *----------------------------------------------------*/

.more-section {
  @include outer-container;
  @include clearfix;

  h2 {
    text-align: center;
    clear: both;
    margin: 0.5em 0 1.5em 0;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  .column {
    @include media($xs-breakpoint) {
      @include span-columns(12);
    }

    @include media($sm-breakpoint) {
      @include span-columns(6);
      @include pad(0 3%);
    }

    a img {
      transition-duration: 0.2s;
      transition-timing-function: ease;
    }

    a:hover img {
      transform: translateY(-5px);
    }
  }
}

.credits h2 {
  font-size: 1.5em;
  font-weight: normal;
  padding-top: 1em;
  border-top: 1px #DFD9F9 solid;
}

/*-------------------- About box --------------------*/

#about-us-box {
  background: none repeat scroll 0 0 $light-green;
  border-top: 2px dashed $light-green-2;
  border-bottom: 2px dashed $light-green-2;
  font-family: $alternative-font-family;
  font-style: italic;
  margin: 4em 0;

  h1 {
    font-family: $alternative-font-family;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
  }

  p {
    font-size: 1.2em;
  }
}

/*----------------------------------------------------
 * "Read more" section on the "Stand for a Free Society" page.
 *----------------------------------------------------*/

.further-reading {
  font-size: 0.95em;
  margin-top: 4.5em;
  padding: 1em;
  @include clearfix;

  h1 {
    font-size: 1.7rem;
    border: medium none;
    margin: 0 0 0.5em;
    padding: 0;
  }

  h2 {
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .column {
    @include media($sm-breakpoint) {
      @include span-columns(12);
    }

    @include media($md-breakpoint) {
      @include span-columns(6);
      @include pad(0 3%);
    }
  }
}

/*----------------------------------------------------
 * Quotes
 *----------------------------------------------------*/

.quote {
  background-color: #FFFFED;
  border-bottom: 2px dashed #EAEAD2;
  border-top: 2px dashed #EAEAD2;
  margin: 1em auto;
  padding: 0.5em 2em;
  width: 85%;

  p {
    font-style: italic;
  }

  .source {
    display: block;
    font-size: 0.9em;
    margin-top: 0.6em;
    text-align: end;
  }
}

.quote.small {
  margin: 0;
  padding: 0.5em 1em;
  width: 35%;
}

.quote.image {
  width: auto;
}

/*----------------------------------------------------
 * Linux FAQ
 *----------------------------------------------------*/

#faq {
  h4 {
    margin-top: 0;
  }

  details {
    > summary {
      cursor: pointer;
      outline: none;
      border-bottom: dotted 1px #b9b5b5;
      margin-bottom: 1em;
    }

    > div.answer {
      margin: 0 0 1.5em;
      border-left: 2px solid $light-blue;
      padding: 0 0 0 1em;

      a img {
        transition-duration: 0.2s;
        transition-timing-function: ease;
      }

      a:hover img {
        transform: translateY(-5px);
      }

      div.read-more {
        li {
          margin: 0;
        }
      }
    }
  }
}

/*----------------------------------------------------
 * Footer
 *----------------------------------------------------*/

.footer {
  $base-spacing: 1.5em;
  $footer-background-color: $base-background-color-secondary;
  $footer-color: $light-gray;
  $footer-color-dimmed: transparentize($light-gray, 0.3);
  $footer-border-color: transparentize($footer-color, 0.6);

  background-color: $footer-background-color;
  color: $footer-color;
  margin-bottom: 0;
  width: 100%;
  font-size: 0.9em;
  padding-top: ($footer-gutter / 2);
  padding-bottom: ($footer-gutter / 2);

  a,
  a:visited {
    text-decoration: none;
    color: transparentize($footer-color, 0.3);

    &:hover {
      color: $footer-color;
    }
  }

  hr {
    border: 1px solid transparentize($footer-border-color, 0.3);
    margin: $base-spacing auto;
  }

  h1 {
    color: #CCCCCC;
  }

  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    margin: 2px 0;
  }

  .notices {
    text-align: center;
  }

  .block {
    h1 {
      display: block;
      font-size: 1.2rem;
      font-weight: normal;
      line-height: 12px;
      margin: 1em 0 10px;
      padding-bottom: 3px;
      text-align: start;
    }

    ul {
      list-style: none outside none;
      margin: 0.5em 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 0 1em 0 0;
    }
  }

  #translations {
    word-break: keep-all;

    ul {
      padding-left: 0;
      list-style: none;
    }

    li {
      display: inline-block;
      padding-left: 0;
      padding-right: 10px;
    }

    li a {
      line-height: 1.0em;
    }

    .active a {
      color: $footer-color;
      font-weight: bold;
    }
  }

  #partial-translations {
    margin-top: 1rem;
  }
}

/*----------------------------------------------------
 * Move to top button
 *----------------------------------------------------*/

#to-top {
    border: medium none;
    bottom: 0.7em;
    display: none;
    overflow: hidden;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 100;
}
a#to-top,
a:hover#to-top,
a:visited#to-top {
    color: rgba(186, 180, 171, 0.8);
}

#to-top-hover {
    display: block;
    float: left;
    overflow: hidden;
}

@import 'h5bp_footer';
