@charset "UTF-8";

@import "bourbon";
@import "neat";
@import "variables";
@import "materialize";
@import "h5bp_header";

/*----------------------------------------------------
 * General styles
 *----------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    text-align: start;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

h2 {
    border-top: 1px solid $color-light-gray-3;
    font-size: 2.5em;
    margin-top: 0.8em;
    padding-top: 0.8em;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

h4 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
}

hr {
    height: 0;
}

article header {
    padding: 1rem 0;
}

aside,
section {
    padding: 1rem 0;
}

details > summary {
    cursor: pointer;
    outline: none;
    text-align: start;
}

img, embed, object, video {
    max-width: 100%;
    height: auto;
}

::selection {
    background: #009ACD;
    color: #FFFFFF;
}

a {
    color: $primary-color;

    img {
        border: none;
    }
    &:visited {
        color: color("light-green", "darken-4");
    }

    &:hover {
        color: color("light-green", "darken-3");
        text-decoration: underline;
    }

    &:active {
        color: color("light-green", "darken-3");
    }
}

/* External link styles */
a[rel~="external"]:after {
    content: "\f08e";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 80%;
    font-style: normal;
    font-weight: normal;
    padding-left: 3px;
    text-decoration: none;
}

abbr {
    letter-spacing: 0.05em;
}

/*----------------------------------------------------
 * Main content
 *----------------------------------------------------*/

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: ($container-gutter / 2);
    padding-right: ($container-gutter / 2);
    @include clearfix;

    @each $breakpoint, $width in $container-widths {
        $breakpoint-width: map-get($container-breakpoints, $breakpoint);
        @include media(min-width $breakpoint-width) {
            width: $width;
            max-width: 100%;
        }
    }
}

.hidden-xs {
    @include media(min-width $xs-breakpoint) {
        display: none;
    }
    @include media(min-width $sm-breakpoint) {
        display: block;
    }
}

.hidden-sm {
    @include media(min-width $xs-breakpoint) {
        display: none;
    }
    @include media(min-width $sm-breakpoint) {
        display: none;
    }
    @include media(min-width $md-breakpoint) {
        display: block;
    }
}

.page-intro {
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 650px;
    padding-bottom: 0.5em;
    text-align: center;
}

.bg-even {
    background-color: $color-light-gray;
}

.no-padding {
    padding: 0;
}

.button-section h1 {
    font-weight: 300;
}

.highlight {
    background-color: #E4EFC7;
    display: block;
    padding: 0.4em;
}

.note {
    font-size: 0.95em;
}

div.note {
    margin-top: 1em;
    text-align: right;
}

.italic {
    font-style: italic;
}

.centered {
    text-align: center;
}

.footnotes {
    border-top: 1px solid $color-light-gray-3;
    font-size: 85%;
    margin-top: 3em;
}

.paragraph {
    margin-bottom: 4em;
}

#language-menu {
    li {
        a {
            color: black !important;
        }
    }
}

/*----------------------------------------------------
 * Flexslider: General
 *----------------------------------------------------*/

.flexslider {
    border: none !important;
    position: relative;

    &_screenshots {
        margin-bottom: 3em;

        /* Put the navigation bullets on the slide */
        .flex-control-nav {
            bottom: 5px;
            z-index: 2;
        }

        /* Captions */
        .flex-caption {
            background-color: $color-light-gray;
            @include border-top-radius(3px);
            @include border-bottom-radius(3px);
            font-size: 14px;
            line-height: 18px;
            margin: 10px 0 0;
            padding: 1%;
            position: absolute;
            text-align: center;
            width: 100%;
        }

        img {
            @include border-top-radius(5px);
            @include border-bottom-radius(5px);
        }
    }
}

/* Navigation icons bug workaround */
.flex-direction-nav a  {
    line-height: 40px;
}

/*----------------------------------------------------
 * Main contents
 *----------------------------------------------------*/

.float-right {
    clear: right;
    float: right;
    margin: 0 0 2em 2em !important;
}

.conclusion {
    background: none repeat scroll 0 0 $color-light-green;
    border-top: 2px dashed $color-light-green-2;
    border-bottom: 2px dashed $color-light-green-2;
    margin: 2em 0;
    padding-top: ($section-gutter / 2);
    padding-bottom: ($section-gutter / 2);
}

img.width20p {
    height: auto;
    width: 20%;
}

/*----------------------------------------------------
 * Styles for "Choose a distribution" page.
 *----------------------------------------------------*/

section.ubuntu {
    border-top: medium solid #DD4814;
}

section.fedora {
    border-top: medium solid #08517A;
}

section.debian {
    border-top: medium solid #C70036;
}

.distro-logo {
    padding: 2rem;
}

.distro_screenshots {
    margin-top: 3em;
    text-align: center;

    img {
        float: none;
        margin: 0 1em 0.5em 0;
    }

    a {
        background: none;
    }
}

/*----------------------------------------------------
 * Styles for the "Try or install" page.
 *----------------------------------------------------*/

.download-box {
    @include outer-container;
    @include row();
    padding-top: 1em;
    padding-bottom: 1em;

    .download-box-logo {
        @include media($xs-breakpoint) {
            @include span-columns(4);
        }
        @include media($sm-breakpoint) {
            @include span-columns(3);
        }
        @include media($md-breakpoint) {
            @include span-columns(2);
        }
    }

    .download-box-content {
        @include media($xs-breakpoint) {
            @include span-columns(12);
        }
        @include media($sm-breakpoint) {
            @include span-columns(9);
        }
        @include media($md-breakpoint) {
            @include span-columns(10);
        }

        .download-box-buttons {
            @include clearfix;

            .button {
                float: left;
                margin-right: 1em;
            }
        }
    }
}

/*----------------------------------------------------
 * Styles for the "More" page.
 *----------------------------------------------------*/

.more-section {
    @include outer-container;
    @include clearfix;

    h2 {
        text-align: center;
        clear: both;
        margin: 0.5em 0 1.5em 0;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .column {
        @include media($xs-breakpoint) {
            @include span-columns(12);
        }

        @include media($sm-breakpoint) {
            @include span-columns(6);
            @include pad(0 3%);
        }

        a img {
            transition-duration: 0.2s;
            transition-timing-function: ease;
        }

        a:hover img {
            transform: translateY(-5px);
        }
    }
}

.credits h2 {
    font-size: 1.5em;
    font-weight: normal;
    padding-top: 1em;
    border-top: 1px #DFD9F9 solid;
}

/*----------------------------------------------------
 * "Read more" section on the "Stand for a Free Society" page.
 *----------------------------------------------------*/

.further-reading {
    font-size: 0.95em;
    margin-top: 4.5em;
    padding: 1em;
    @include clearfix;

    h1 {
        font-size: 1.7rem;
        border: medium none;
        margin: 0 0 0.5em;
        padding: 0;
    }

    h2 {
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .column {
        @include media($sm-breakpoint) {
            @include span-columns(12);
        }

        @include media($md-breakpoint) {
            @include span-columns(6);
            @include pad(0 3%);
        }
    }
}

/*----------------------------------------------------
 * Cards
 *----------------------------------------------------*/

.card-panel {
    &--source {
        width: 85%;
        margin: 1em auto;

        p {
            font-style: italic;
        }

        .source {
            display: block;
            font-size: 0.9em;
            margin-top: 0.6em;
            text-align: end;
        }
    }

    &--small {
        margin: 0;
        padding: 0.5em 1em;
        width: 35%;
    }

    &--image {
        width: auto;
    }
}

/*----------------------------------------------------
 * Linux FAQ
 *----------------------------------------------------*/

#faq {
    h4 {
        margin-top: 0;
    }

    details {
        > summary {
            cursor: pointer;
            outline: none;
            border-bottom: dotted 1px #b9b5b5;
            margin-bottom: 1em;
        }

        > div.answer {
            margin: 0 0 1.5em;
            border-left: 2px solid $color-light-blue;
            padding: 0 0 0 1em;

            a img {
                transition-duration: 0.2s;
                transition-timing-function: ease;
            }

            a:hover img {
                transform: translateY(-5px);
            }

            div.read-more {
                li {
                    margin: 0;
                }
            }
        }
    }
}

/*----------------------------------------------------
 * Footer
 *----------------------------------------------------*/

.page-footer {
    a {
        $footer-link-color: color("light-green", "lighten-3");

        color: $footer-link-color;

        &:hover {
            color: $footer-link-color;
        }

        &:active {
            color: $footer-link-color;
        }

        &:visited {
            color: $footer-link-color;
        }
    }
}

@import 'h5bp_footer';
