ul {
		padding: 0 0 0 1.5em;
		margin: 0 0 2em 0;
	}

li {
		margin-top: 0.5em;
	}

h2 {
		font-size: 1.5em;
		font-weight: normal;
		padding-top: 1em;
		border-top: 1px #DFD9F9 solid;
	}

.tab {
		padding-left: 2em;
	}

.img_box {
		border: 1px #e0a668 solid;
		padding: 10px;
		margin-top: 0.8em;
	}

#maincontent .img_box img {
		float: none;
		display: inline;
	}

#maincontent .img_box a {
		background: none;
	}

#maincontent ul li ul {
		padding: 0 0 0 2em;
		margin: 0;
		text-align: left;
	}

#maincontent ul li ul li {
		list-style: square;
		margin: 0.2em 0;
		padding: 0;
	}

.note {
		font-size: 0.9em;
		font-style: italic;
	}