<?php

/*
 * Settings file for GetGNULinux.org
 */

/* The base URL of the website. Should start with https:// and end with a slash.
 * Leave blank to auto detect the base URL.
 * Example: "https://www.getgnulinux.org/"
 */
$ggl->config['base_url'] = "";

/* The URL where news is published. */
$ggl->config['news_url'] = "https://community.getgnulinux.org/c/feedback/news/13";

/* The URL of the community forum. */
$ggl->config['forum_url'] = "https://community.getgnulinux.org/";

/* The URL of a page with contact information. */
$ggl->config['contact_url'] = "https://community.getgnulinux.org/about";

/* The URL for participation guidelines. */
$ggl->config['participate_url'] = "https://community.getgnulinux.org/t/help-improve-getgnulinux-org/12";

/* The URL for translation guidelines. */
$ggl->config['l10n_url'] = "https://community.getgnulinux.org/t/about-the-translation-category/17";

/* The URL of the website's source repository. */
$ggl->config['project_url'] = "https://github.com/getgnulinux/getgnulinux";

/* The URL of the bug tracker. */
$ggl->config['tracker_url'] = "https://github.com/getgnulinux/getgnulinux/issues";

/* Set of ISO language codes for translations that are completed. */
$ggl->config['locales_complete'] = array(
    'en',
    'fr',
    'nl',
    'pt-br',
    'zh-tw',
);
