#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

div.button {
  padding: 1em 0;
}

div.button.wide {
  min-width: 13.5em;
}

.button {
  a {
    background-color: #E2E4D7;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    @include border-top-radius(4px);
    @include border-bottom-radius(4px);
    color: #FFFFFF !important;
    padding: 0.7em 1em;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.30);
    transition: background 100ms linear;
    white-space: nowrap;
    width: auto;
  }

  a:hover,
  a:active {
    background-color: #B7CFDC;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-decoration: none;
  }
}

.button.green {
  a {
    background-color: #8DB90A;
  }

  a:hover,
  a:active {
    background-color: #96C017;
  }
}

.button.orange {
  a {
    background-color: #D66E4B;
  }

  a:hover,
  a:active {
    background-color: #DC7654;
  }
}

.button.blue {
  a {
    background-color: #2785C6;
  }

  a:hover,
  a:active {
    background-color: #358FCD;
  }
}
