html {
  background-color: $base-background-color-secondary;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $base-background-color;
  margin: 0;
  padding: 0;
}
