body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-font-color;
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  font-weight: $header-font-weight;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

/* External link styles */
a[rel~="external"]:after {
    content: "\f08e";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 80%;
    font-style: normal;
    font-weight: normal;
    padding-left: 3px;
    text-decoration: none;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
